[2019-12-17 03:54] zonca opened #1 "Add me to allocation"
can you please add me to allocation if you haven't done it yet?
can you also write the allocation id here?

[2019-12-17 18:11] pibion commented on #1
You should be added now!

The allocation ID is TG-PHY190047.

[2019-12-17 18:11] #1 closed

[2019-12-17 23:23] zonca opened #2 "Test number of users per Jetstream VM"
@pibion I have created a cluster with 1 master and 2 worker nodes named `k8s_cdms`.
First I want to test how many users I can accommodate per node.
I am worried about this given reports at https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/23.

Once this is solved I'll continue with the planned steps.

[2019-12-18 01:05] zonca commented on #2
testing with XL instances, I'll test first with 2GB/user and check I can accommodate 10 or 20 users/node.
Then I'll switch to the planned 10GB/user and verify I can accommodate 5 users/node

[2019-12-18 01:42] zonca commented on #2
I used `hubtraf` to simulate users, see https://zonca.github.io/2019/10/loadtest-jupyterhub.html

* 1 master + 2 nodes, all `m1.xlarge` instances with 60GB RAM, if I request 2 GB/user, I tested I can accommodate 60 users (I should be able to accommodate ~80, as we are also scheduling on the master node) with no storage (we have a low limit, asked to increase)

[2019-12-18 17:18] pibion commented on #2
So it seems like to accommodate 60 users with 10 GB of RAM, we'd need six XL nodes (1 master + 5 nodes).  Do you have a sense of whether this will eat through my allocation unusually quickly?  If so I could imagine starting by limiting the number of users to 20 or 30.  Limiting RAM usage would probably be more difficult.

Another question is - can a Jupyter instance make use of multiple cores?  Or

[2019-12-18 18:58] zonca commented on #2
I made a Notebook to calculate usage, the result for this case is:

[code]

See https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/blob/master/Jetstream_cost_calculator.ipynb to play with it.
If usage is very spotty, we might deploy master in a `medium` instance, so that when unused we are wasting little resources, and it still can run 1 user for testing purposes, then we have the aut

[2019-12-18 19:00] zonca commented on #2
About multicore: sure, actually `numpy` automatically uses multiple cores for a lot of operations now, otherwise people can use `numba.jit(parallel=True)` or use `dask`.

[2019-12-18 19:27] pibion commented on #2
The m1.medium master seems perfect to me.  I'm expecting usage to be spotty, punctuated by days with significantly more users due to workshops and the occasional down time of our primary server.  I can set a student on monitoring usage so we know if the patterns are different.

Thanks for the information about multiple cores - having this will probably be very helpful for us, we use numpy heavily.

[2019-12-18 20:42] zonca commented on #2
ok, this test is completed, workaround is to increase the timeout.
I'll follow up on https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/23 about this.

But for CDMS we can go ahead with the plan. I deleted the cluster, I'll start again testing next week or after the holidays with the medium instance for master and deploy the custom CDMS environment.

[2019-12-18 20:42] #2 closed

[2020-01-10 04:11] zonca opened #3 "Customize JupyterHub with the CDMS enviroment"
Now that the issue with volumes is fixed (zonca#23), start working on this and log progress here.

[2020-01-15 16:44] zonca opened #4 "Access CVMFS from pods?"
@pibion I was thinking we could evaluate at some point how difficult it would be to setup CVMFS access for JupyterHub users:

https://cernvm.cern.ch/portal/filesystem

Let's first finalize the work on the JupyterHub deployment and then consider if we should add this to the workplan.

## Documentation

* https://twiki.cern.ch/twiki/bin/view/AtlasComputing/Cvmfs21#Hard_mount_cvmfs_and_nfs_export

[2020-01-15 16:57] pibion commented on #4
That sounds like an excellent plan, thanks for suggesting this!

[2020-01-23 04:47] zonca commented on #3
@pibion I reorganized the branches on the repo:
* the old master with your changes is now `cdms_roberts`
* now master is the same as the master of my original repo
* my work is in `cdms_zonca`

[2020-01-23 06:48] zonca commented on #3
The CDMS jupyterlab image is huge and has a very large number of layers.
Pulling fails on Jetstream:

    sudo docker pull supercdms/cdms-jupyterlab:1.8b

I think it could be the storage driver. I am testing now `overlay2` instead of `devicemapper`.

[2020-01-23 07:50] zonca commented on #3
actually I increased the docker volume size from 10GB to 20GB, testing

[2020-01-23 16:08] zonca commented on #3
20GB not sufficient, testing with 50GB

[2020-01-23 16:18] zonca commented on #3
ok, this works, the image itself is 20GB, but there are other images from kubernetes, so `/var/lib/docker` is 21GB. I think we can safely lower this to 30GB.

[2020-01-23 16:50] zonca commented on #3
it takes 8 minutes to pull the supercdms image:

[code]

this is probably the dominant factor in creating new worker nodes. I think in production we should use User Placeholders: https://zero-to-jupyterhub.readthedocs.io/en/latest/administrator/optimization.html#scaling-up-in-time-user-placeholders

[2020-01-23 16:54] zonca commented on #3
## Images pulled to the nodes

### Worker node

[code]

### Master node

[code]

[2020-01-23 17:06] pibion commented on #3
Yikes, no wonder the student who updates the docker image is running out of space on his hard drive.

Would it be helpful if we looked into ways to make the image smaller?  I know that part of the issues is that we have a lot of dependencies - ROOT, BLAS, and boost among them.  But I could talk with my docker-knowledgeable students and see if there are any clear ways to shrink the image.

[2020-01-23 17:09] zonca commented on #3
yes, @pibion that would help a lot. Ideally you would want to start from a Alpine base image with Python and add the dependencies to that one. Maybe use a 2-stage build (https://medium.com/capital-one-tech/multi-stage-builds-and-dockerfile-b5866d9e2f84)?

Anyway, I can proceed forward as it is now.

[2020-01-23 17:10] pibion commented on #3
I think SLAC IT may have taken this approach.  Compute Canada has made much lighter containers and installed the software on CVMFS, I think.

I'll ask SLAC if they have any comments on this.

[2020-01-23 17:15] zonca commented on #3
@pibion if using the software from CVMFS is a good option, I think we can anticipate the investigation into #4.

[2020-01-23 17:16] zonca commented on #4
@pibion  Do you have any pointers to documentation about accessing CVMFS for CDMS?

[2020-01-23 17:22] zonca opened #6 "Test master-only configuration"
Make sure that we can have only with the master node running and still have 1 single-user session working.

## Images pulled to the nodes

### Worker node

[code]

### Master node

[code]

we don't have the single-user image on the master node, but we have the node schedulable (just for 1 user), need to configure this.

_Originally posted by @zonca in https://github.com/det-lab/jupyterhub-deploy-k

[2020-01-23 17:23] zonca commented on #6
I think the reason the prepuller is not working on master is taints:

[code]

anyway, it is fine if the startup is a bit slow the first time. just make a dedicated test.

[2020-01-23 17:32] zonca commented on #3
@pibion
I get this error:

[code]

I could try to debug the issue myself, but better if I focus my time on Kubernetes, @pibion can you have someone look into this? Need to make sure that the `jupyterhub` package is installed into the container and that it adds `jupyterhub-singleuser` into the PATH. Once you have news, please add details to this issue. Thanks.

[2020-01-23 17:41] pibion commented on #3
We'll look into this and report back.  I suspect this is tied up with how JupyterHub is deployed at SLAC; we may need to figure out how to manage different needs for Dockerfiles on different systems.

[2020-01-23 20:26] pibion commented on #3
SLAC uses `jupyter-labhub` rather than `jupyterhub-singleuser`.  They pointed me to their launch file: https://github.com/slaclab/slac-jupyterlab/blob/master/scripts/runlab.sh.

[2020-01-23 20:55] zonca commented on #3
At SLAC they use a different image: https://github.com/slaclab/slac-jupyterlab/blob/master/Dockerfile

[2020-01-23 21:50] bloer commented on #4
I'm the cvmfs maintainer.  Things are scattered, so I will add centralizing some documentation to my to-do list.  In the meantime, assuming CVMFS is set up with oasis,  you can do
`/cvmfs/cdms.opensciencegrid.org/setup_cdms.sh -L `
to list available releases and
`source /cvmfs/cdms.opensciencegrid.org/setup_cdms.sh V01-02-01`
which gets the latest version as of today.  Only bash is supported right

[2020-01-23 22:20] zonca commented on #4
thanks @bloer that does work on Comet.
* how do I test a random command to check it executes fine?

Then about the deployment on Jetstream, inside JupyterHub each user has a Docker container running on a number of different Jetstream Fedora virtual machines.
I am not familiar with CVMFS. Do you recommend each single user container have the CVMFS client? or should we have a dedicated Jetstream VM t

[2020-01-23 22:59] bloer commented on #4
@zonca It's not a great test, but an easy check is to just run "BatRoot" (should be in the path).  If you get a help message rather than complaints about missing libraries/symbols, it should be good.

I only have passing familiarity with setting up CVMFS itself; I handle deploying the CDMS part of it.   There are a few considerations.

You're encouraged to point your CVMFS client at a local SQUID

[2020-01-24 01:07] zonca commented on #4
thanks, I think the best would be to have a local SQUID running on Jetstream, then have the user pods point to that.
do you happen to have a docker container already pre-configured for that? or can you send me the configuration for your SQUID proxy so I can replicate that on Jetstream?

[2020-01-24 18:48] pibion commented on #3
I think we do need the CDMS image.

We "inherit" from the SLAC image https://hub.docker.com/r/slaclab/slac-jupyterhub/tags, but we need to build our own software on top of that.

Building our software in a docker container is one of the main reasons we started exploring JupyterHub, the installation is tricky even for experienced users.  And if you don't have the CDMS-specific software you can't lo

[2020-01-25 04:08] zonca commented on #3
I cannot get the CDMS image to work on the deployment. I also tried to start the container using `/opt/slac/jupyterlab/runlab.sh`.
Is there anyone else deploying the CDMS container in JupyterHub? Can they send me the configuration of their deployment?

[2020-01-27 18:05] pibion commented on #3
I've reached out to SLAC IT; right now they're the only ones deploying this CDMS image.  Compute Canada uses a totally different method, they've got a lightweight container and use CVMFS.

I wonder if I should start looking at creating a separate image?  I'm not exactly sure where to start with this but it sounds like the `jupyterhub` package and adding `jupyterhub-singleuser` into the PATH are a

[2020-01-27 20:28] zonca commented on #3
@pibion so SLAC IT deploys this CDMS image in their JupyterHub environment and it works fine? Can they send me their JupyterHub configuration? maybe there is some special setting I need to enable.

I would wait before creating a new image. I think using CVMFS would be the best solution, I'll work on #4 to assess how difficult that is.

[2020-01-28 19:04] zonca commented on #4
## CVMFS client test on Jetstream

### Have pod running CVFMS client and NFS Server

Based on https://github.com/opensciencegrid/docker-osg-wn/blob/3.5/Dockerfile but using `osg-oasis`, see https://opensciencegrid.org/docs/worker-node/install-cvmfs/

Needs to run privileged due to `autofs`

### Use NFS to mount to Jupyter Notebook containers

https://cvmfs.readthedocs.io/en/stable/cpt-configure.ht

[2020-01-28 20:51] zonca commented on #4
Attempt at dockerfile, not working yet because autofs is not running as a service, here for future reference:

[code]

[2020-01-28 22:43] zonca commented on #4
ok, @pibion, this works great!
I have a container which mounts the CDMS files on CVMFS: https://github.com/zonca/docker-cvmfs-client

So 1 instance of this can run **inside** Kubernetes on Jetstream. Next week I will work on a way for the Jupyter Notebook pods to access these files (possibly NFS). So we have just 1 CVMFS client, I think we don't need a proxy as once the software stack is cached on

[2020-01-28 22:44] pibion commented on #3
An update from SLAC IT:

the hub deployment is at https://github.com/slaclab/slac-jupyterhub
the lab/jupyter is at https://github.com/slaclab/slac-jupyterlab

[2020-01-28 22:54] pibion commented on #4
Looks like it's time for me to learn more about CVMFS :)

[2020-01-28 23:13] bloer commented on #4
By the way, there's a potential pitfall with cvmfs over nfs.  The way CVMFS is setup with automount means that repos are not downloaded until they are accessed.  I don't know that when you call `setup_cdms.sh` all the libraries needed are downloaded, or if some will still need to be loaded on demand.  Nor do I know if things get automatically unloaded at some point.

So if you have one client and

[2020-01-28 23:15] zonca commented on #4
thanks @bloer, sure we will test that, they have a specific mention of NFS sharing in the docs https://cvmfs.readthedocs.io/en/stable/cpt-configure.html#nfs-server-mode, so I hope it will just work.

[2020-01-28 23:36] rptaylor commented on #4
Hello,
I came across this following up from a Compute Canada - SuperCDMS collaboration about Jupyter on Kubernetes. At Compute Canada (UVic) we have a kubernetes cluster running HEP jobs that access CVMFS. Installing a CVMFS client in every container is possible, gives you more direct control over the configuration at the pod user level, and is an easy/quick way to get started with small scale tes

[2020-01-28 23:38] rptaylor commented on #4
There are some interesting possibilities for distributing the container images themselves with CVMFS too.

[2020-01-28 23:44] zonca commented on #4
thanks @rptaylor!
* I looked at `cvmfs-csi` already, it has so few commits, old pull requests not addressed, I wouldn't want to rely on that.
* `hostPath` would be a good option. But I am creating the nodes with Magnum, so I don't have much control on those.
* I think we should test NFS first, we are on local network with only a few tens of clients.

[2020-01-29 19:52] rptaylor commented on #4
@zonca Okay, as far as I know the cvmfs-csi driver works fine and is being used in production, and there are no open issues. But I will check with the developers if any of those old pull requests are still relevant or waiting.

[2020-02-10 20:23] zonca commented on #4
Last week I got the CVMFS container working inside Kubernetes, see the pod definition at:

https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/tree/master/cvmfs

Now I'm working on the NFS server, plan is to have a 2-container pod with a shared volume.

[2020-02-11 01:50] zonca commented on #4
A shared volume doesn't work, because it is not a normal filesystem, we need to run the NFS server in the same container that runs the CVMFS client.

Testing it at: https://github.com/zonca/docker-cvmfs-client/tree/master/cvmfs-client-nfs

[2020-02-19 23:09] netscruff commented on #3
Compute Canada staff member here with hopefully some useful advice. Is the Compute Canada CVMFS use case related to ATLAS? Before commenting in your other issue about CVMFS usage, you can definitely get the image size down. That Dockerfile is super bloated. You can take a look at Docker multistage builds which would allow you to use different images for building what you need but then throw out al

[2020-02-19 23:14] pibion commented on #3
@netscruff I'll look into Docker multistage builds, thanks!

[2020-02-26 21:51] zonca commented on #4
ok, CVMFS + NFS is working fine.

@rptaylor @pibion I wrote some notes about this, can you please provide feedback? https://zonca.github.io/2020/02/cvmfs-kubernetes.html

You can directly edit it at: https://github.com/zonca/zonca.github.io-source/blob/master/content/kubernetes_cvmfs.md

[2020-02-28 21:48] rptaylor commented on #4
@zonca Okay, glad to hear you got it working. I checked with the cvmfs-csi developers and some other people using it, while there could be some improvements made, as far as I know it nevertheless still works fine and there are no major outstanding issues. If anything is missing from the documentation perhaps you could open an issue or contact them to ask for clarification. That being said if scala

[2020-02-28 23:51] zonca commented on #4
@rptaylor thanks, let's reconsider this if we hit scalability or reliability issues.

[2020-03-05 17:10] pibion commented on #4
@zonca apolgoies for the radio silence, I'll have a chance to spend time on this early next week!

[2020-03-06 00:24] zonca commented on #3
@pibion I think we can now rely on CVMFS to get the CDMS software stack (#4)

Given this, what image would you like to use for the Jupyter Notebooks? Or should we start from one of the barebones images from the Jupyter team and build up from there as needed?

[2020-03-06 00:26] zonca commented on #4
@rptaylor I am now using `DIRECT`,  can you please find out if any institution close to Indiana University has a CVMFS proxy we can use (or point me in the right direction)?

[2020-03-06 15:44] pibion commented on #3
I'm inclined towards using one of the barebones images from Jupyter and building ours from there - but I'm open either way.  Did you have an image in mind?

Would it be helpful for us to compile a list of all the "stuff" we want in our Jupyter environment?  We've got a set of python packages, and then's other things like: we use JupyterLab and find extensions like the git extension very useful.

[2020-03-06 16:38] zonca commented on #3
you can start from one of the Jupyter images: https://jupyter-docker-stacks.readthedocs.io/en/latest/using/selecting.html

once you choose that, I'll create a Docker image which derives from that and autobuilds on dockerhub and then you can make a pull request and add all other packages you need.

[2020-03-06 16:42] pibion commented on #3
It looks like jupyter/tensorflow-notebook is the best fit.

[2020-03-06 17:42] zonca commented on #3
ok,
I have a base image here:

* you can make a pull request to add more packages https://github.com/zonca/docker-jupyter-cdms-light/blob/master/Dockerfile
* this is then automatically built on Dockerhub https://hub.docker.com/r/zonca/docker-jupyter-cdms-light

[2020-03-06 17:47] zonca opened #7 "Distributed computing with dask"
@pibion do you also want capability like Pangeo for a user to request a cluster of dask workers so that they can run in parallel?

In this case, do you have an example of such distributed computation?

Also, the data. How are Jupyter Notebook users going to access data? where do we store them?

[2020-03-06 18:58] pibion commented on #7
@zonca dask workers would potentially be nice.  I don't have any examples of a distributed computation, though - we haven't explored this yet.  If it would be straightforward to set up dask, then I could have a student start testing our some of our analysis tasks using its distributed features.  If it's a pain then I'd suggest we consider waiting.

Data is currently all stored at SLAC.  There is a

[2020-03-06 19:04] zonca opened #8 "Distributed data access - object store"
Data is currently all stored at SLAC.  There is a "data catalog" python library that allows users to query for data paths.  If they don't exist locally they're downloaded to disk.

Is it possible to have a storage disk that is mounted to everyone's container?  For initial testing 50 GB would be more than enough.  If we want to try to support full CDMS analysis efforts that's more like 10 TB.

_Ori

[2020-03-06 19:04] zonca commented on #7
Ok, let's add dask as well. Moved discussion about data to #8

[2020-03-06 19:06] zonca commented on #7
I'll take care of adding dask to the image in #3 and setup Kubernetes accordingly. Mostly following https://zonca.github.io/2018/06/private-dask-kubernetes-jetstream.html

[2020-03-06 19:15] zonca commented on #8
@pibion let's try to decide what is the best strategy to host the data.

We cannot use the standard Openstack volumes because they do not support multi-attach to multiple instances.

1) One option could be to use [Manila on Jetstream](https://iujetstream.atlassian.net/wiki/spaces/JWT/pages/537231493/Using+Manila+-+Filesystems-as-a-service+-+on+Jetstream) which provides a NFS service which is handl

[2020-03-06 23:32] rptaylor commented on #4
@zonca It rather depends on what repositories you are using, and for which experiments. I believe Indiana is involved in ATLAS; probably if you check with your physics department they may have info about a Tier 3 or Tier 2 site with squid proxies you could share, at least if it is HEP related.

Also the stratum servers for some repos/organizations use a commercial CDN which is kind of equivalent t

[2020-03-06 23:48] pibion commented on #8
* The processed data is all ROOT files.  The raw data is in a custom binary format.  Ideally I'd like to have some of each available - dask gets particularly interesting for raw data since sometimes we need to interactively develop new processing algorithms.  I think dask might be well-suited for that.
* We subdivide processed data files approximately by weeks; these range from 100 MB to several G

[2020-03-07 01:21] zonca commented on #8
If you agree, I would like to try object store first, that would be the most natural data store for a cloud deployment, and is common also for Pangeo.

can you load some sample data using object store on jetstream?
Login to Horizon: https://iu.jetstream-cloud.org/project/containers/

Create a container, public if possible, then upload some raw and processed files.

Then can you provide a snippet o

[2020-03-07 01:23] zonca commented on #4
thanks @rptaylor, I am using the CDMS repos and its dependencies, I am in San Diego so don't have contacts in Physics at IU.

Anyway, for now let's keep using DIRECT and reconsider later on.

[2020-03-09 19:08] pibion commented on #8
That sounds good.  Public data means I'll need to coordinate with the collaboration, I'll let you know if that will take longer than a week.

[2020-03-13 19:55] zonca commented on #4
ok, this is solved for now, now will test within JupyterHub

[2020-03-13 19:55] #4 closed

[2020-03-13 20:16] zonca commented on #3
ok,
I am preparing a deployment for testing, I'll log here the steps:

* deploy Kubernetes + JupyterHub through Magnum https://zonca.dev/2019/06/kubernetes-jupyterhub-jetstream-magnum.html, but use https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/tree/cdms_zonca
* setup HTTPS https://zonca.dev/2020/03/setup-https-kubernetes-letsencrypt.html
* deploy CVMFS https://zonca.dev/2020/02

[2020-03-13 20:18] bloer commented on #3
Potential issue with using CVMFS for the CDMS image.  The version of boost that CERN provides in their LCG system, which the CDMS repo builds against, is partially broken in that it doesn't ship the boost_numpy library. https://sft.its.cern.ch/jira/browse/SPI-1560

We need that library to build one of the python packages (scdmsPyTools). I'm not sure if there's a sensible workaround at this point.

[2020-03-13 20:34] zonca commented on #3
@bloer yes, at this point let's wait for a fix

[2020-03-13 20:35] zonca commented on #3
@bloer do you recommend we use CentOS 7 as a base for the Jupyter Notebook image?
Is that a requirement to setup the CDMS environment via CVMFS?

[2020-03-13 20:48] bloer commented on #3
@zonca What base do you have in mind?  The CVMFS CDMS repo supports officially CentOS 7 and SLC6.  I am reasonably certain that any RedHat-derived flavor should work though (in particular I know RHEL6 works).

 There is no support from CERN for newer OS's yet.  There is ubuntu support; I am not building a version of the CDMS image off of that currently but probably could if there was a good reason

[2020-03-13 20:53] zonca commented on #3
@bloer I was testing with debian which the the base of the Jupyter stack. is there documentation about the CVMFS CDMS somewhere where I can find more details?

[2020-03-13 21:08] bloer commented on #3
@zonca the software stack provided by cern has some decent documentation here: http://lcgdocs.web.cern.ch/lcgdocs/lcgreleases/introduction/

The only documentation on the CDMS-specific stack is here: https://confluence.slac.stanford.edu/display/CDMS/Using+CDMS+software+releases
and the source for the build tool: http://titus.stanford.edu:8080/git/summary/?r=CompInfrastructure/ReleaseBuilder.git

[2020-03-13 21:13] zonca commented on #3
`ReleaseBuilder` is password protected

[2020-03-13 23:35] zonca opened #10 "NFS sharing issue"
found issue with NFS sharing, it works fine if the Jupyter Notebook pod is in the same node, but it doesn't work across nodes, which is strange because Kubernetes networking should automatically handle that.

To debug I deployed 2 pods, one on master and one on minion,
then

    telnet 10.254.77.77 111

it can connect on master (where the CVMFS/NFS pod is located), **hangs** on the other node.

[2020-03-13 23:36] zonca commented on #3
ok, my plan for now is to try  `slaclab/slac-jupyterhub`, which is Centos7 and not too big. But first I need to fix #10

[2020-03-14 00:21] zonca commented on #10
this is fixed doing:

[code]

from: https://github.com/rancher/rancher/issues/6139#issuecomment-251558161

Now will go ahead with this for now then try to find a better solution.

[2020-03-14 05:32] zonca commented on #3
ok, got a temporary fix for #10, couldn't make `slac-jupyterlab` work.

So I rebuilt the whole Jupyter Docker stacks out of Centos 7 instead of Ubuntu.

I have a first deployment available for testing, see documentation at:

https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/tree/cdms_zonca

it has dummy authentication for now, so any username will work.

@pibion @bloer I emailed yo

[2020-03-18 16:45] pibion commented on #8
Okay, a small data set is uploaded to a public container.

This repository linked below contains code that reads in CDMS data sets and also has examples.  The tutorial that uses the uploaded data is `examples/LoadandPlot.ipynb`.

Repository: http://titus.stanford.edu:8080/git/summary/?r=Analysis/pyCAP.git

[2020-03-18 16:53] zonca commented on #3
ok, I merged the pull request, so that the documentation about the repository is on the homepage:

https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream

For now we are done with this issue, will open new ones if we identify problems.

[2020-03-18 16:53] #3 closed

[2020-03-20 17:42] ranchen2025 opened #11 "File Save Error for jupyter notebook"
The error info is in the picture. It will show up every time the jupyter notebook wants to save it automatically or I click on save.
![save_error](https://user-images.githubusercontent.com/62438622/77190970-2f5e9880-6aa8-11ea-85b1-676b81ec00b0.png)

[2020-03-21 00:26] pibion commented on #11
Thanks for the issue @ranchen2025!  You may want to @zonca on such posts, this issue didn't automatically show up in my email.

[2020-03-21 00:36] zonca commented on #11
please upload the notebook to http://gist.github.com

and if you need some input data, please also explain me how to get them.

I think the problem is that your notebook is too big.

[2020-03-21 02:06] pibion commented on #11
@ranchen2025 could you post links to your data repository and notebook repository?

[2020-03-21 02:15] ranchen2025 commented on #11
Hello,
Sorry for the late reply.
The link of the repository include my notebook and data is:
https://github.com/ranchen2025/NR5.git
Will this work?

Best regards,
Ran Chen

On Fri, Mar 20, 2020 at 9:06 PM pibion <notifications@github.com> wrote:

[2020-03-21 15:46] pibion commented on #11
@ranchen2025 I can access those, thanks!

[2020-03-25 00:25] zonca commented on #11
First time I see a Notebook with more than 100 cells,
I think JupyterLab cannot save it because once you produce the plots, it is several MB.
Is there a reason it is so long instead of creating more smaller notebooks?

Can you test with smaller notebooks and see if you find the same issue?

[2020-03-25 00:34] ranchen2025 commented on #11
Hello,

Thanks! Your advice does help a lot.
The issue doesn't show up after I use smaller notebooks. I will avoid make
so large notebook in the future.

Best regards,
Ran Chen

On Tue, Mar 24, 2020 at 7:25 PM Andrea Zonca <notifications@github.com>
wrote:

[2020-03-25 00:39] zonca commented on #11
actually there is probably a fix, see https://github.com/jupyterlab/jupyterlab/issues/4214,
I'll try to implement this in the setup.

[2020-03-25 01:20] zonca commented on #11
@ranchen2025 @pibion I've increased the size to 20 MB, so it should not cause problems even with very large notebooks.

[2020-03-25 01:21] zonca commented on #10
test this again during the next re-deployment

[2020-03-25 18:25] pibion commented on #8
@zonca I have a user who's interested in working on a data set that's approximately a TB.  I think the current allocation is for 500 GB.  For now he's going to work on some smaller data sets, but I wanted to ask if a TB data set might be possible.

Is there another resource I should request for larger data sets?

[2020-03-25 18:45] zonca commented on #8
@jlf599 is space on object store on Jetstream metered? if so, how do we ask for an allocation of a couple of TB?

[2020-03-25 19:09] jlf599 commented on #8
@zonca -- the object store has quotas like block store does, though they are set separately. If the allocation doesn't have a storage allocation at all, they'll need to request it (http://wiki.jetstream-cloud.org/Requesting+additional+SUs+or+storage+for+Jetstream+--+Supplemental+Allocations). If they already have a storage allocation, they'll need to open a ticket requesting object store access an

[2020-03-25 19:16] zonca commented on #8
thanks @jlf599!

@pibion, please contact the XSEDE helpdesk and ask for extra 2 TB on object store and keep the 500GB on block store.

[2020-03-25 19:51] pibion commented on #8
@zonca do you know if this would be a "Jetsream Storage" supplemental request?

[2020-03-25 19:52] jlf599 commented on #8
@pibion  -- if you do not have storage for your allocation, yes, it would be.

[2020-03-25 19:53] zonca commented on #8
@pibion you already have storage, so you should go through the help desk, not the supplemental request

[2020-03-25 22:36] pibion commented on #8
@zonca thanks, I've submitted a request.

[2020-03-25 22:37] pibion commented on #8
@zonca https://iu.jetstream-cloud.org/project/containers/ uses TACC login credentials, correct?

I'm trying to set up access so another person in our collaboration can add data.

[2020-03-25 22:49] zonca commented on #8
yes, I think you should also add them to your XSEDE allocation, see https://iujetstream.atlassian.net/wiki/spaces/JWT/pages/31391748/After+API+access+has+been+granted

It would be useful to first test with a smaller dataset, like 10/20 GB.

The most important thing is that your software is modified so it can read data directly from object store, we do not want to download data from object store to

[2020-03-25 22:51] zonca commented on #8
see an example at: https://zonca.dev/2019/01/zarr-on-jetstream.html
if you share a sample short notebook that accesses your data, I can take a look.

[2020-03-27 00:59] pibion commented on #8
@zonca my collaborator @ziqinghong has access to the data store, and now we're wondering if there's a way to upload data through the terminal.

Our raw data is typically many small files and there doesn't appear to be a way to upload several files at once through the web interface.  Maybe this is something the openstack API can help with?

[2020-03-27 01:07] ziqinghong commented on #8
If we can get something like globusonline integrated that'll be fantastic. Though I'm feeling that I'm dreaming too much...
Thank you @zonca !

[2020-03-27 01:44] zonca commented on #8
yes, sure, the more direct way is:

* install the `openstack` python client, see the first part of https://zonca.dev/2019/06/kubernetes-jupyterhub-jetstream-magnum.html
* `openstack object create data_store local_file.root`
* or for a subfolder `openstack object create data_store/newfolder local_file.root`, no need to create folder in advance

Otherwise, you can use any tool built for S3, and crea

[2020-03-27 01:45] zonca commented on #8
do you have a globusonline pro license, the one that supports HTTP endpoints? if so we could try to use that directly...

[2020-03-27 01:50] pibion commented on #8
@zonca @bloer @ziqinghong I don't believe we have a globusonline pro license.

[2020-03-27 01:51] pibion commented on #8
@zonca we'll try the openstack python client, thanks for the information!

[2020-03-27 01:51] zonca commented on #8
also, @pibion @ziqinghong, don't waste too much time uploading data, just the minimum necessary for a reasonable test, we might find out that object store is too difficult to use from your software.

[2020-03-27 01:53] ziqinghong commented on #8
SLAC seems to have pro license? Our data is *optimized* so that 1 second of data is one file. :-D 10 G of data is thousands of files...

[2020-03-27 02:05] zonca commented on #8
it would be useful to have a Notebook in a gist that does a typical analysis on a standard smallish but still meaningful dataset, and that dataset both as single files and also as a single tgz on object store.
So we can do a benchmark comparing running off object store or downloading the tgz and running locally.

[2020-03-31 17:58] pibion commented on #8
@zonca I'd recommend http://titus.stanford.edu:8080/git/summary/?r=Analysis/scdmsPyTools.git, specifically `demo/IO/demoIO.ipynb.`

That notebook works with the files already uploaded.

A word of warning - it seems that the very first imports that pull in CDMS python packages are failing.  This is probably because the CVMFS environment doesn't install those.  @bloer is the authority on this, thoug

[2020-03-31 18:13] zonca opened #12 "CDMS Python environment"
_Originally posted by @pibion in https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/issues/8#issuecomment-606782144_

I would like some details about the Python packages for CDMS analysis.

* Are they available through CVMFS?
* If so, what are the requirements? is there docs somewhere?
* If not, should we add them to the docker image we use on JupyterHub at: https://github.com/zonca

[2020-03-31 18:14] zonca commented on #8
@pibion moved discussion about the Python environment to #12
We need to solve that before we keep working on data access.

[2020-03-31 18:33] pibion commented on #12
* Currently the python packages are not available for CVMFS
* Probably the best documentation for installation is in the docker build instructions, https://gitlab.com/supercdms/CompInfrastructure/cdms-jupyterlab
* We're leaning towards adding them to the CVMFS build, we're talking now to figure out how we'll do this

[2020-03-31 18:38] pibion commented on #8
Just a quick note on the transfer protocols SLAC supports:
* gridFTP
* xrootd
* rsync

[2020-03-31 18:39] zonca commented on #12
possibly having a `conda` environment?

[2020-03-31 18:59] zonca commented on #12
ideally if we have a full conda environment which also has the `jupyterhub` and `jupyterlab` packages, we wouldn't even need a Python enviroment on the docker container for Jetstream, we could completely run off CVMFS.

[2020-03-31 19:06] pibion commented on #12
That has some appeal, especially if it could make jupyterhub deployment easier for sites that already have CVMFS installed.

In terms of the analysis tools, @bloer is working on putting the "python-only" part of them into CVMFS.  I'll let him comment on whether or not he's using a conda environment for that.

I have to admit I've never made a conda package before, but I'm a huge fan, it's the only

[2020-03-31 19:08] bloer commented on #12
The python environment will be available in the next CVMFS release.  lots of python packages are already distributed by the central LCG CVMFS repo, including most of the scientific packages that conda provides, so I think conda is an unnecessary step if we're continuing to base the image on CVMFS.

For things not provided centrally, or for users to get the latest packages faster than new CVMFS rel

[2020-03-31 19:13] zonca commented on #12
ok, thanks @bloer
so once we get the new release we will resume testing.

if it includes `jupyterhub` and `jupyterlab`, better, otherwise I will find a workaround.

Please update this issue when the new release is available.

[2020-03-31 19:15] zonca commented on #8
while waiting on #12, I will try to make a IO test using the `supercdms/cdms-jupyterlab:1.8b` image on Jetstream but outside of JupyterHub.

[2020-03-31 20:04] ziqinghong commented on #8
Sorry this might be a naive question.. If I copy a file to data_store, where can I see it in jupyter? Thanks! @zonca

[2020-03-31 20:39] blackholesun137 commented on #11
I'm still having issues with text files above a certain size. I've tried uploading a 15 MB text file, as well as opening a blank text file in Jupyter, copy-pasting the data there, and trying to save, but, in either case, I get the error, "Invalid response: 413 Request Entity Too Large." I have been able to upload a 1 KB text file, so the issue can't be with text files in general.

[2020-03-31 21:18] zonca commented on #11
confirmed.
I guess there is some margin.
I increased the limit from 20MB to 100MB and successfully uploaded a 16MB PDF. can you try again?

[2020-04-01 15:10] blackholesun137 commented on #11
I was able to upload it this time. Thank you.

[2020-04-01 15:46] #11 closed

[2020-04-01 16:58] pibion commented on #8
@zonca we're having some trouble using the openstack client to add files to the data store.  I've installed openstack 3.16 into a python 3.7 conda environment and get the following error when I try to `openstack object create`:

[code]

[2020-04-01 17:00] pibion commented on #8
It do get a list of available images when I try `openstack image list`.

[2020-04-01 18:21] zonca commented on #8
@pibion there should be a space between folder and file:

[code]

see `openstack object create --help`

[2020-04-01 19:55] pibion commented on #8
@zonca the above command gives the error

[code]

[2020-04-01 19:58] pibion commented on #8
Based on

[code]
I also tried

[code]

But got the error
[code]

[2020-04-01 20:12] zonca commented on #8
can you run again this one

[code]

[2020-04-01 20:50] pibion commented on #8
I seem to get the same error (I've cd'd into the directory containing the file):

[code]

[2020-04-01 20:55] zonca commented on #8
how big is the file?

[2020-04-01 21:29] zonca commented on #8
Let's try with a better tool, I wrote some notes on how to use `s3cmd`:

https://zonca.dev/2020/04/jetstream-object-store.html

again, don't spend too much time on object store, we might discover we cannot use it.
I am trying to make a test. It will take some time.

[2020-04-01 21:35] pibion commented on #8
@zonca the file is 116 MB.  I'll look into s3cmd.

[2020-04-02 00:07] zonca commented on #8
ok, I uploaded with `s3cmd` the file you sent me to:

[code]

[2020-04-02 00:40] pibion commented on #8
Okay, I’ve also successfully uploaded a file now as well with the command

[code]

So it seems the issue was indeed with my key.

From: Andrea Zonca <notifications@github.com>
Sent: Wednesday, April 1, 2020 6:08 PM
To: det-lab/jupyterhub-deploy-kubernetes-jetstream <jupyterhub-deploy-kubernetes-jetstream@noreply.github.com>
Cc: pibion <cantor.duster@gmail.com>; Mention <mention@noreply.github.com>

[2020-04-02 01:41] pibion opened #13 "Useful plugins for JupyterHub / JupyterLab"
This is in no way a priority, but I wanted to record the idea somewhere before I forget it:

It might be nice to have the Theia IDE available in the JupyterHub environment.  It looks like there is some support for this: https://jupyter-server-proxy.readthedocs.io/en/latest/convenience/packages/theia.html.

[2020-04-02 05:43] zonca commented on #8
ok,
I have tested data access myself,

It looks like the `getRawEvents(filepath,series)` function has strong assumptions about accessing a POSIX filesystem, and the code looks quite complicated, so I would stop here testing the object store and switch to one of the other solutions.

@pibion if they approved your extra storage, can you ask them to move it to block store instead? we will use a stand

[2020-04-02 05:43] #8 closed

[2020-04-02 05:51] zonca opened #14 "Distributed data access - block store"
Conclusion of #8 is that object store is not suitable.

Other 2 options are:

1) One option could be to use [Manila on Jetstream](https://iujetstream.atlassian.net/wiki/spaces/JWT/pages/537231493/Using+Manila+-+Filesystems-as-a-service+-+on+Jetstream) which provides a NFS service which is handled by Openstack so we don't have to manage it. This provides a standard read/write filesystem we can moun

[2020-04-02 18:12] pibion commented on #8
Okay, it looks like I need to fill out a supplement request for the additional storage.  I'll get that going.

[2020-04-03 19:43] zonca commented on #14
Implemented in #15, we will keep this open for now to report any feedback / issues.

[2020-04-06 20:57] pibion commented on #14
It's currently @ziqinghong and @blackholesun137.  I typically relay comments on our collaboration Slack to this thread, but you're both also welcome to post here directly!

[2020-04-06 21:00] pibion commented on #13
@zonca a system monitor would be extremely helpful.  In general we'd love to have more monitoring both for users and the cluster so we know what to request on allocations.

[2020-04-06 21:10] ziqinghong commented on #14
@zonca I just successfully copied a bunch of text data over. Seems working well.
The next step of the process is to read it out from jupyterlab, which I failed. The default umask put the files to 2710, with user:group=root:root. What's the best way of getting around this?

[2020-04-06 21:27] zonca commented on #13
Server-side we can install Prometheus and Grafana: https://zonca.dev/2019/04/kubernetes-monitoring-prometheus-grafana.html

[2020-04-06 21:30] pibion commented on #14
@zonca @ziqinghong at SLAC we use ACL permissions to make data sets readable by everyone in a "dark matter" group.

But you should probably only have write privileges in your own directory - where are you trying to write your data to?

[2020-04-06 21:31] pibion commented on #14
@ziginghong unless you're doing something that creates data that should be stored in `/cvmfs/data` which now that I think about it is entirely possible.  Is that the case?

[2020-04-06 21:33] zonca commented on #14
@ziqinghong try again now, just copying 1 file at the root of `/cvmfs/data/` and check its permissions

[2020-04-06 21:34] pibion commented on #13
@zonca Prometheus and Grafana look like they'd be perfect.  The integration with Slack is especially nice.

[2020-04-07 02:02] ziqinghong commented on #14
@pibion I was scping stuff from SLAC to jetstream, where the username was root.
@zonca I tried again, it still got written as 2740 with root:root. It's the 20200318_1554_time.png file in /cvmfs/data that I last tried.

[2020-04-07 02:28] zonca commented on #14
@ziqinghong are you using `scp`?

[2020-04-07 02:29] ziqinghong commented on #14
Yes.
scp 20200318_1554_time.png XSEDE:/cvmfs/data/.
where XSEDE points to the js node in .ssh/config

[2020-04-07 02:30] zonca commented on #14
I just copied with `scp` and my file has correct permissions:

    -rw-r--r--. 1 root root   87 Apr  7 02:29 README.md

[2020-04-07 02:30] ziqinghong commented on #14
Here's what's in .ssh/config
Host XSEDE
    HostName js-156-119.jetstream-cloud.org
    User root
    Port 30022
    IdentityFile ~/jupyterhub-deploy-kubernetes-jetstream-secrets/ssh/cdms_nfs_ssh_key

[2020-04-07 02:30] zonca commented on #14
what is the umask of the source file?

[2020-04-07 02:31] ziqinghong commented on #14
It's 2770.. Maybe that's the difference? It needs to be un-readable on the SLAC cluster as internal data...

[2020-04-07 02:33] zonca commented on #14
then ssh into the CVMFS pod after you have copied the files and recursively fix the permissions.

[2020-04-07 02:34] zonca commented on #14
once you have done that, please add this note to the documentation at:

https://github.com/pibion/jupyterhub-deploy-kubernetes-jetstream-secrets#copying-data

so other users can easily get around this issue.

[2020-04-07 02:35] ziqinghong commented on #14
Will do.

[2020-04-07 02:46] ziqinghong commented on #14
@zonca Any chance we can have rsync? That's helpful if we want to incrementally syncing data, plus it has a flag to set the permissions. Thanks!

[2020-04-07 02:58] zonca commented on #14
@ziqinghong yes, installed rsync, added example usage at https://github.com/pibion/jupyterhub-deploy-kubernetes-jetstream-secrets/blob/master/README.md
feel free to augment it.

[2020-04-07 03:11] ziqinghong commented on #14
Awesome! Now it's much easier to setup a crontab for automated data transfer. (We won't do that yet, but soon...)

[2020-04-07 03:15] zonca commented on #14
you are root on that pod, so feel free to install anything else you need,
just also add it to the `Dockerfile` (make a pull request) at https://github.com/zonca/docker-cvmfs-client/blob/master/cvmfs-client-nfs/Dockerfile so that it is automatically included when we redeploy.

[2020-04-07 03:18] ziqinghong commented on #14
Hmmm.... I somehow forgot I was root there.......... Stockholm syndrome for not having root on servers I don't manage...

[2020-04-07 03:21] zonca commented on #14
it is just a pod, so whatever happens I'll just redeploy it!

[2020-04-07 21:05] ziqinghong commented on #12
Not sure if this is the right place for this... I'm using pandas, and get errors like

ImportError: Missing optional dependency 'tables'.  Use pip or conda to install tables.

with pandas.read_hdf...
@zonca How do we get an enhanced version of pandas?

[2020-04-07 21:19] bloer commented on #12
@zonca to give some context, there is now a CVMFS release V02-01-04 that contains some of the python modules.  @ziqinghong is one of the lucky folks testing to see how broken it is.

@ziqinghong in the short term, the easiest thing to do is install a package with user mode:
`python -m pip install --user tables`

Medium-term, since this isn't an XSEDE-specific issue, please add issues encountered w

[2020-04-07 21:27] ziqinghong commented on #12
Thanks Ben. Will report missing package in jira.

The slac jupyterlab environment has been stable and plenty good for more than 6 months. There might be packages updates that are transparent to me, but Amy and her team did beat it into shape pretty rapidly, and once that happened, there are very rare cases that we requested an upgrade.

[2020-04-07 21:43] zonca commented on #12
@bloer how do we access the python modules on CVMFS?

[2020-04-07 21:44] zonca commented on #12
@ziqinghong what python environment are you using?

[2020-04-07 21:45] ziqinghong commented on #12
Errr. I just spawned a jupyter instance and assumed you guys set up the environment well.... How do I check?

[2020-04-07 21:46] zonca commented on #12
the jupyter environement is **not** currently using the python environment from CVMFS, so please do not report the issue on JIRA

[2020-04-07 21:48] zonca commented on #12
once I get pointers from @bloer on how to set it up, I'll modify the Jupyter environment to use that. so we can get all the python modules from CVMFS also on Jupyter immediately after release.

[2020-04-07 21:51] pibion commented on #12
@ziqinghong I would clone the tutorials repository and see if the examples work.

(They definitely will not sadly - right now the main issue is they hardcode file locations.)

The other way to test the environment is to run notebooks you've been using.

[2020-04-07 21:52] bloer commented on #12
@zonca Hmm OK maybe I'm confusing multiple issues. I thought you were already loading the CVMFS environment. Just do
`source /cvmfs/cdms.opensciencegrid.org/setup_cdms.sh V02-01-04`

[2020-04-07 21:55] pibion commented on #12
@ziqinghong apologies I've just realized my above comment does not at all answer your question.

I'm actually not sure how to check your python environment within jupyterlab, I've usually paid attention to which "kernel" I'm running.

[2020-04-07 21:56] zonca commented on #12
I need details about the python environment so I can make it compatible with the rest, do you have any documentation? what version of python is it using? is it a full enviroment or just a modules folder?

[2020-04-07 21:57] ziqinghong commented on #12
I think that's a full environment, from gcc to libraries to python code...

[2020-04-07 21:59] zonca commented on #12
I hope you don't mind, I'm going to cleanup the issue and remove comments which are not necessary for later reference.

[2020-04-07 22:08] bloer commented on #12
The only documentation I kind find is this extremely useless page: http://lcginfo.cern.ch/pkg/Python/
Right now it's using python3.6.  I hope to move to 3.7 in a near future release.
The environment's pretty messy.  There is a full installation (`site.getsitepackages()` yields /cvmfs/sft.cern.ch/lcg/releases/Python/3.6.5-f74f0/x86_64-slc6-gcc8-opt/lib/python3.6/site-packages), and also a handful o

[2020-04-07 22:29] zonca commented on #12
ok, @bloer, I am testing it, it looks like there is an issue with `scdmsPyTools.BatTools.IO`:

[code]

[2020-04-07 23:46] bloer commented on #12
yeah, I should have some release notes.  BatTools isn't included because there's a problem with missing boost libraries that I haven't figured out how to solve yet.  BatTools is also being deprecated in  the near future to separate out that functionality from the rest of scdmsPyTools

[2020-04-07 23:48] ziqinghong commented on #12
from scdmsPyTools.TES.Templates import *
is a good test for what we're using in that package.

[2020-04-07 23:55] zonca commented on #12
ok, when I try to run Jupyterlab or the QT console with this environment the kernel keeps dying.
I am debugging this issue.

@ziqinghong in the meantime, I think you can test opening a **terminal** in the JupyterHub environment, then loading the CVMFS environment:

    source /cvmfs/cdms.opensciencegrid.org/setup_cdms.sh V02-01-04

and use the console version of `ipython`.

[code]

[2020-04-08 01:31] zonca commented on #12
@bloer I got the error out of JupyterHub:

[code]

it looks like `ipykernel` is broken.

[2020-04-08 01:52] ziqinghong commented on #12
I was able to use the same environment to launch a jupyter-lab at centos7.slac.stanford.edu, and get a notebook running.
![Screen Shot 2020-04-07 at 8 52 05 PM](https://user-images.githubusercontent.com/10618696/78735990-b2d61180-7911-11ea-8ce9-fbdb03bcf3fe.png)

[2020-04-08 01:54] zonca commented on #12
@ziqinghong  can you connect to a notebook and execute code?

[2020-04-08 02:06] ziqinghong commented on #12
Yup, at least I could import scdmsPyTools...

[2020-04-08 03:28] bloer commented on #12
I had to give jupyter lab the "--core-mode" switch. . I'll add ipykernel to the list to fix for next release.
Is there any way to install that so we can see what else is broken?  Pushing out new releases is not fast.

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: ziqinghong <notifications@github.com>
Sent: Tuesday, April 7, 2020 7:06:24 PM
To: det-lab/jupy

[2020-04-08 05:14] zonca commented on #12
@bloer I started installing `ipykernel` in user space, then it requested a lot of its requirements:

ipython, ipython_genutils, traitlets, jupyter, ptyprocess, prompt_toolkit, jupyter_client, jupyter_core, pyzmq

not sure why I needed to reinstall all those packages even if some were available in the base environment. Anyway, after all this it was working fine.

It would be useful to also install

[2020-04-08 15:03] bloer commented on #12
Since python 3.5(?) the recommended virtual environment is the built in venv. (python -m venv)

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Andrea Zonca <notifications@github.com>
Sent: Tuesday, April 7, 2020 10:14:57 PM
To: det-lab/jupyterhub-deploy-kubernetes-jetstream <jupyterhub-deploy-kubernetes-jetstream@noreply.github.com>
Cc: Loer, Ben M <ben.loe

[2020-04-08 15:47] zonca commented on #12
Thanks I'll try that, I generally only use conda

On Wed, Apr 8, 2020, 08:04 Ben Loer <notifications@github.com> wrote:

[2020-04-08 15:49] bloer commented on #12
Also beware: I at least only learned recently that virtual environments don't play nicely with PYTHONPATH.  When PYTHONPATH is set it gets added to `sys.path` *before* the virtual environment, so you have to go to extra lengths to install newer packages in the venv.  PYTHONPATH also preempts user site paths.

[2020-04-08 17:07] zonca commented on #12
@bloer same with `venv`,
I needed to install:

[code]

to get the kernel working, and after that still a lot of issues with PYTHONPATH, it was easier just using the `pip install --user`.

Anyway, I think for the next release it would be useful if you can test that you can register a kernel:

[code]

and then use it in Jupyterlab

[2020-04-21 19:08] pibion opened #16 "Instance takes a long time to spin up (or does not spin up)"
I'm trying to access a JupyterHub instance, but it seems to be taking a very long time to spin up.

Is anyone else having this issue? @zonca @ziqinghong

[2020-04-21 19:12] zonca commented on #16
I know they were updating some of the services on Jetstream today, I'll check the deployment later today and then get back to you.

[2020-04-21 19:15] pibion commented on #12
@zonca, I believe @bloer has registered the kernel in the new release.  The new command (which I have not yet tested on XSEDE) is

[code]

We can test success with

[code]

[2020-04-21 19:30] zonca commented on #12
ok, I tested and it works. Can @pibion or @bloer please explain what `-K` and `--user` do?

[2020-04-21 19:46] bloer commented on #12
There's a bit of description with `/cvmfs/cdms.opensciencegrid.org/setup_cdms.sh -h`. The `-K` switch tells the script to install a kernel.  Any arguments following the version number are passed to `jupyter kernelspec install`, so you could install to some other central location.

[2020-04-22 00:04] zonca commented on #16
same issue I encountered in #10, let's continue debugging in that issue, I'll close this one.

[2020-04-22 00:12] zonca commented on #10
same issue, it looks like there is a networking issue between the worker and the master node.
I tried the fix mentioned above here but it didn't work.

The Jetstream team is working on upgrading the Kubernetes deployment functionality. So I want to wait for them to upgrade. And then directly work on the new setup.
So for now my plan is to only run on the master node.

[2020-04-22 00:15] zonca commented on #10
I also reduced resources per user to 3GB and 1 CPU (just for now)
Please let me know if anything is still not working.

[2020-04-22 00:51] zonca commented on #14
This seems to be working fine. I'll close this issue. Please open another issue if anything about he data store stops working.

[2020-04-22 00:51] #14 closed

[2020-04-22 01:02] zonca commented on #12
great job @bloer! The new release works great.

Exactly as @pibion suggested, open a terminal on the JupyterHub deployment, type:

    /cvmfs/cdms.opensciencegrid.org/setup_cdms.sh -K V02-03-01 --user

then JupyterHub works with the kernel out of CVMFS (run `change kernel` from the menu), see:

![image](https://user-images.githubusercontent.com/383090/79929302-36a3f980-83fa-11ea-87a4-e215e4fb4841.

[2020-04-22 01:09] zonca opened #17 "Setup permanent domain name"
I think we are at a good point in testing the deployment,
we can start to think about setting up a permanent URL.
Does CDMS or your institution have a procedure to set that up?
Or shoud I investigate if we can get a *.xsede.org domain?

[2020-04-22 01:11] zonca opened #18 "Setup authentication"
After #17 is done, let's setup authentication.
@pibion, what are your plans about that?

Do we want to use Github accounts? or do you have a third party authenticator CDMS uses?

[2020-04-22 02:29] pibion commented on #17
A *.xsede.org domain would be fantastic.

UC Denver doesn't have a procedure for setting up domain names, but someone else in the collaboration might have that ability.  I can ask around if and xsede domain isn't an option.

[2020-04-22 03:38] zonca commented on #17
ok, written to XSEDE, will update here when I have news.

[2020-04-22 15:18] zonca commented on #17
* they don't do xsede.org subdomains
* the jetstream team doesn't usually do subdomains, but they can make an exception for us, so we can have `supercdms.jetstream-cloud.org` (a bit long)
* otherwise I can easily get a sdsc subdomain, which is not as relevant but it is short `supercdms.sdsc.edu`
* other options? doesn't the CDMS collaboration have any 1st level domain they manage? or if you have o

[2020-04-22 23:25] zonca commented on #12
see https://github.com/zonca/docker-jupyter-cdms-light/pull/1
I wasn't able to run it automatically, but created a script that installs all the kernels automatically.
so users can just open a terminal and run `install_cdms_kernels`

[2020-04-22 23:31] zonca commented on #12
ok added docs about this: https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/commit/4ac37b148fdf231e5bebf1b3b072f2ce716f55c4

[2020-04-22 23:36] zonca opened #19 "Redeployment on top of newer Kubernetes version"
The Jetstream team is working on a newer Kubernetes environment,
within 1 or 2 weeks they will notify me about availability and I will tear down the deployment and rebuild it again on top of the new environment.

* [x] save the data volume so it can be reattached to the newer environment (I'll try my best, there is a small possibility I will loose data and they will need to be copied again)
* [x]

[2020-04-22 23:38] zonca commented on #19
@pibion anything else we need to save?

[2020-04-23 02:42] pibion commented on #19
@zonca nope, that's everything.  People working on the XSEDE instance have been warned that they should treat the disk space as volatile.  I'll send out my usual "hey does anyone need help putting their work into a git repository" message.

[2020-04-23 02:54] pibion commented on #17
@zonca `supercdms.jetsream-cloud.org` would be my first choice, but I don't want to create extra work for you or the Jetstream team.

If it's a hassle, let me know and I'll register `supercdms.tk`?

[2020-04-23 03:02] pibion commented on #18
@zonca would GitLab be possible?  If not then Github could also work.

Our basic requirements are
1. Anyone needs to be able to authenticate (so that when we run workshops non-CDMS members can use the resource)
2. But we need a way to identify CDMS members and give them special privileges when using the data tools

We can add CDMS members to a Github or GitLab organization when they join.  (We alr

[2020-04-23 16:38] zonca commented on #17
ok, I submitted a request for the jetstream-cloud subdomain

[2020-04-23 16:40] zonca commented on #19
ok, I'll send out an advance warning when I am ready for it

[2020-04-23 16:52] zonca commented on #18
Yes,
[Oauthenticator](https://oauthenticator.readthedocs.io/en/latest/getting-started.html) supports gitlab.
What organization do you plan to use? can you add `zonca` to that?

Then we need to make a more detailed plan about permissions.

## Login

First, it seems a bit too wide to allow anyone with a gitlab account to be able to login, my proposal would be:

* we create a Gitlab `group` within yo

[2020-04-23 17:12] pibion commented on #18
We're currently using the SuperCDMS organization - I've sent an invite to you.

Your suggestion for a `workshop_participants` group should be manageable.  I'll get something set up and report back.

We have a python module (@bloer do you know its name?) that queries a "data catalog" database and fetches data.  Right now this requires no authentication and we rely on "it's hard to find" to keep our

[2020-04-23 17:44] bloer commented on #18
The package is `CDMSDataCatalog`.  Authentication is handled by means of a "secret" key in a config file that's shipped with the package.

If we wanted to be more secure, we could remove that file from the package and tell CDMS people they have to download the file to their home directories before they can use the catalog.  I'm not a huge fan of adding extra steps to make everything work though.

[2020-04-23 17:50] bloer commented on #18
Hmm...could we use ORCID for authentication?  They support OAuth2.  And everyone in CDMS should get an ORCID if they don't have one already

[2020-04-23 20:46] pibion commented on #18
@bloer does ORCID support any kind of "group" association?  If they do then I agree, requiring everyone to get an ORCID ID isn't "extra" work.

[2020-04-23 21:10] bloer commented on #18
@pibion It doesn't look like there's an easy way to do that.  So we'd have to keep a whitelist of member IDs

[2020-04-23 21:30] pibion commented on #18
@bloer I'd like to avoid adding list maintenance unless it's absolutely necessary.

I'd recommend using GitLab.  People who aren't analyzing won't need to create this account.  And people who are analyzing need a Github/GitLab account anyway, for their thesis if nothing else.

[2020-04-29 04:37] zonca commented on #19
still waiting for the new images

[2020-04-29 05:28] zonca commented on #18
ok, I am working on setting up Gitlab, unfortunately we are affected by this issue:

https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/1551

so we need to request "Write" API access just to authenticate people via Gitlab. Not ideal...

Anyway, for now I'll try to see if I can get it working.

[2020-04-29 07:00] zonca opened #20 "Update to zero-to-jupyterhub 0.9.0"
Until now I have been using 0.8.2

0.9.0 was released 2 weeks ago, it upgrades to JupyterHub 1.1.0.

See changelog for 0.9.0: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/CHANGELOG.md#090---2020-04-15

The gitlab authentication #18 was not working with 0.8.2, it works fine with 0.9.0.
I authorized the whole SuperCDMS group to login, please let me know if there are issues.

the

[2020-04-29 07:01] zonca commented on #18
it works with the new release of zero-to-jupyterhub, see #20
We still have the issue of needing too much permissions. Will investigate further.

[2020-04-29 07:02] zonca commented on #17
ok, setup https://supercdms.jetstream-cloud.org/
works fine with SSL certificates by letsencrypt.

Now that we have authentication setup, we do not need to keep the URL secret.

[2020-04-29 07:02] #17 closed

[2020-04-29 07:09] zonca commented on #12
ok, the Python environment works fine.
Please open a new issue if anything stops working.

[2020-04-29 07:09] #12 closed

[2020-04-30 18:53] pibion commented on #16
@zonca when trying to access https://supercdms.jetstream-cloud.org I'm able to authenticate but the server takes a long time to spin up.

Actually, it hasn't spun up yet so I'm not sure if it's able to.  I'll report back when I get an error or it completes.

[2020-04-30 19:07] zonca commented on #16
I see your pod running, you cannot access it?

[2020-04-30 19:29] zonca commented on #16
I found the problem, while developing I had setup that the docker image of the container is pulled everytime.
Now back to normal, so it should start a lot quicker

[2020-04-30 19:32] pibion commented on #16
Yes, this spawned quickly for me!

[2020-05-04 19:37] pibion opened #21 "/cvmfs/data read-only when logged in through JupyterHub"
We're trying to use DataCat (http://titus.stanford.edu:8080/git/summary/?r=DataHandling/DataCat.git) to grab data files and store them on /cvmfs/data as needed.

However, this mode of copying data requires users logged in to JupyterHub to have write privileges in /cvmfs/data, which they currently don't.  @thathayhaykid will follow up with a way to reproduce the issue.

@bloer, @zonca, do you have

[2020-05-04 19:53] pibion opened #22 "Losing data in personal space"
@thathayhaykid and I are running into an issue with lost data:

Files saved to `/home/jovyan` and `/home/jovyan/work` disappear when the server is restarted.

[2020-05-04 20:04] thathayhaykid commented on #21
The program linked is what I wrote to try and save the data to the default directory,
the error shown is the error I got, and the most important line you're looking at will be the dc.fetch(downloadThis), this is what downloads the requested dataset
 please let me know if you've got any questions! Thank you so much!

[Program to run in Xsede](https://github.com/thathayhaykid/DET-Lab/blob/master/Tes

[2020-05-04 20:07] bloer commented on #21
@pibion

I don't understand what you mean here. Users still need to put the data somewhere writeable, unless you mean to open up an sshfs mount or something.

The intended functioning is that users can get data on demand, but it's saved to a large common disk so that it only has to be downloaded once, even if another user wants it.

There are a few options:
 1) Pre-download the data that you want

[2020-05-04 20:19] zonca commented on #22
yes, see the warning at https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/issues/20
I haven't fixed it yet.

[2020-05-04 20:19] #22 closed

[2020-05-05 17:26] bloer commented on #21
I'm getting ready to publish a new software release...is there a better directory to use?

[2020-05-05 17:29] zonca commented on #21
I think I should be able to configure `/cvmfs/data` to be writable. But any user then could wipe it out.
Is it ok @pibion?

[2020-05-05 17:46] bloer commented on #21
@zonca I think it should be OK, it would just mean re-downloading on demand data.
You could also set the sticky bit on /cvmfs/data.  Only problem I see there is if someone aborts a download and doesn't clean up partial files afterward someone would have to go in with root privileges to clean it up.

[2020-05-05 19:54] pibion commented on #21
@zonca I agree with @bloer, it's only an inconvenience if someone wipes it out.  But I'm not expecting that to happen often, so I think the data tool being able to grab data on demand is worth the risk.

Do we have ACL permissions?  Is it possible for people in the SuperCDMS gitlab group to be in an ACL group?

@bloer would someone have to have root privileges to clean up the data?

[2020-05-05 20:06] bloer commented on #21
@pibion If the sticky bit is set, users can only modify/delete their own files, no one else's.

[2020-05-06 17:35] zonca commented on #21
see https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/pull/23

[2020-05-07 18:27] zonca commented on #19
we got the new image:

    ae275170-b48c-4104-8af1-4d271f33a43c | Fedora-Atomic-29

and also Magnum was updated to the Openstack Train release.

@pibion, is it ok if I tear down the deployment in the next days?
depending on the complexity of the upgrade, it might take 2 or 3 weeks to put it back online.
But once that is done, we will have a newer version of Kubernetes, which should work better.

I

[2020-05-07 21:28] zonca commented on #19
this updates Kubernetes from 1.11 released summer 2018 to 1.18 released summer 2019, this is good because some plugins are dropping 1.11 support.

[2020-05-07 21:37] zonca commented on #19
accessing logs is now working fine

[2020-05-07 22:00] zonca commented on #19
Volume mounting does not work, the problem is that nodes are in different zones, for example:

    failure-domain.beta.kubernetes.io/region=RegionOne
    failure-domain.beta.kubernetes.io/zone=zone-r2

than volumes:

[code]

[2020-05-15 01:51] zonca commented on #19
fixed this issue by manually editing the node metadata and modifying the zone to be `nova`, contacted the Jetstream support about this.

[2020-05-15 04:10] zonca commented on #19
changing the node metadata to "nova" also fixes the volume mounting issue even without applying the fix to the kubernetes scheduler.

[2020-05-15 04:18] #21 closed

[2020-05-15 05:46] zonca commented on #20
testing this now on the new deployment,
the master now has 2 taints, so in order to be able to deploy proxy and hub into the master node we can add this tolerations to the proxy and hub pods:

[code]

however it is just easier to remove these 2 taints from the master node itself.
Also because anyway we need it also for the singleuser containers.

[2020-05-15 05:54] zonca commented on #20
good news, the fix of editing the label on the master node also fixes the volume attachment issue, so once I redeploy, I can re-enable persistent user storage.

[2020-05-15 06:00] zonca commented on #19
@pibion @thathayhaykid ok, I've done a lot of tests on a different cluster, everything seems to be working (better) with the new Kubernetes version.
So I will proceed to teardown the JupyterHub instance and redeploy it, I will preserve the `data` volume (unless something unexpected happens).

I will start the process next Thursday May 21st, if anyone wants to delay the process let me know.

[2020-05-15 16:20] pibion commented on #19
@zonca no need to delay, Thursday May 21st sounds good!

[2020-05-15 18:14] zonca commented on #19
ok @pibion thanks

[2020-05-15 18:14] zonca commented on #19
Another way to solve the zone label issue would be to disable it, we can do for PV:
https://docs.openshift.com/container-platform/3.10/install_config/configuring_openstack.html

but how to do it for nodes?

[2020-05-15 20:53] zonca commented on #19
I think this worked: https://github.com/zonca/magnum/pull/2/files, will ask the Jetstream team to implement

[2020-05-19 00:34] pibion commented on #13
@zonca would it be possible to integrate JupyerHub on Jetstream with XSEDE batch resources?

Right now one of our analyzers is going back and forth between interactive analysis and submitting jobs that use on order 600 CPU hours.  I think this would be a simple allocation to get but making it easy to submit jobs from the Jupyter environment would be awesome and significantly increase the likelihoo

[2020-05-19 02:43] zonca commented on #13
which supercomputers are they using? how much data (order of magnitude) are the input and output that need to move between interactive and not?

[2020-05-19 03:04] pibion commented on #13
@ziqing could you comment?

[2020-05-19 13:50] ziqinghong commented on #13
A month worth of small detector data is 5-10 TB. (Amy, these are continuous non-triggered data, thus they're bigger than the usual numbers we quote for Snolab.)
A simple model is that each batch job processes one dataset (an hour of data). The input is ~30 G. They get turned into <1 G output.

[2020-05-19 18:36] zonca commented on #13
thanks @ziqinghong, is processing using MPI? how many nodes and how long does a typical job take? is the software multithreaded?

[2020-05-19 20:37] pibion commented on #13
@zonca I don't believe the software is multithreaded or using MPI.

I'll let @ziqinghong comment on how many nodes and how long a typical job takes.

[2020-05-19 21:00] ziqinghong commented on #13
We don't usually use MPI. Our jobs are parallelized by splitting up datasets and running idential processing on each of them.

How long does a typical job takes depends on how many nodes/jobs we spread the task. It takes O(500) CPU-hours to process ~10 TB of data. If we spread them among 200 cores (which is consistent with our typical usage), it'll get done in 3 hours.

[2020-05-19 21:07] zonca commented on #13
do you run single or multi-threaded code? is it Python?

[2020-05-19 21:10] pibion commented on #13
@ziqinghong my understanding is that the code is Python and that it is single-threaded.

[2020-05-19 21:12] zonca commented on #13
so 200 cores single-threaded, you mean 200 nodes, right?

On Tue, May 19, 2020 at 2:10 PM pibion <notifications@github.com> wrote:

[2020-05-19 21:20] ziqinghong commented on #13
Single-threaded. Not sure if I know the difference between 200 nodes and 200 cores... 200 x single thread.

[2020-05-19 21:35] zonca commented on #13
thanks, for a workload that doesn't use MPI and is not too large as this one, I think we could execute that directly on Jetstream, inside Kubernetes, with `dask`.

can you prepare a dataset + the code to do 1 of this data processing stage, with some documentation on how to execute, better if inside a dedicated github repository (the code, with pointers to the data). Then I can check if we can exec

[2020-05-20 01:32] ziqinghong commented on #13
I copied a little bit of raw data over, and a bunch of scripts. I could start an interactive data processing run in the jupyter terminal in the browser, by doing
source /cvmfs/cdms.opensciencegrid.org/setup_cdms.sh V03-01
cd /cvmfs/data/tf/AnimalData/processing/
python AnimalDataAnalysiscont_blocks.py 20190718102534 20190718102534

The code is nasty, as it has a bunch of locations hard wired... It

[2020-05-20 01:39] pibion commented on #13
@ziqinghong if you point me to the data you're using, we can make sure we get that into the data catalog.  Once we've got the code updated that is :)

[2020-05-21 16:44] zonca commented on #19
ok, started working in this transition.

the ID of the 500 GB data volume, for later reference, is `7681ccc9-7bdb-470f-bd6d-43587e2c2328`

[2020-05-21 20:15] zonca commented on #10
ok, for now this works fine in new deployment #19, closing for now, reopen if the problem reappears

[2020-05-21 20:15] #10 closed

[2020-05-21 20:19] zonca commented on #19
ok, @pibion @ziqinghong, the transition is complete, now I have reactivated persistent storage again.
I updated the README at https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream to only have documentation for new users.

I moved the information about the deployment to https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/master/DEPLOY.md

I also created new documenta

[2020-05-21 20:19] #19 closed

[2020-05-21 20:20] zonca commented on #20
as part of #19, this is completed as well.

[2020-05-21 20:20] #20 closed

[2020-05-21 20:21] zonca commented on #18
This also is implemented using Gitlab, no advanced feature for members implemented yet, but possibly will find another method, it looks complicated to handle 2 level of permissions via JupyterHub

[2020-05-21 20:21] #18 closed

[2020-05-21 20:33] zonca commented on #7
Next I'll work on deploying dask clusters and then use it to launch a bunch of tasks in parallel, using the technique used in https://stackoverflow.com/questions/49551759/running-shell-commands-in-parallel-using-dask-distributed
to launch jobs as explained in #13

[2020-05-21 21:04] zonca commented on #13
thanks @ziqinghong yes, it runs fine, I'll try if using `dask` I can run multiple instances of that in parallel.

[2020-05-21 21:05] zonca commented on #13
actually best is if you give me a set of 10 (or better 100) different inputs, so I can try run them in parallel

[2020-05-21 21:26] ziqinghong commented on #13
AWESOME!!!!

[2020-05-28 02:54] zonca commented on #7
# User image

initially I'll create a new conda environment using the `pangeo/base-notebook` environment from https://github.com/pangeo-data/pangeo-stacks/blob/master/base-notebook/binder/environment.yml

# Jupyterhub image

Try first from scratch following https://zonca.dev/2018/06/private-dask-kubernetes-jetstream.html

[2020-05-29 17:49] GabriellaNicoleRamirez opened #24 "Site Cannot Be Reached"
When trying to access https://supercdms.jetstream-cloud.org/ I get a "Site cannot be reached" error. Perfectly fine internet connection.

Any help would be appreciated, thanks!

[2020-05-29 18:08] zonca commented on #24
Yes, It is unreachable I am investigating I will let you know

[2020-05-30 02:09] zonca commented on #24
ok, it was reset by mistake by Josh, I started to redeploy it again, will let you know once it is back online.

[2020-06-01 22:03] pibion commented on #24
Just checking in on this issue - the site still isn't responding.

[2020-06-01 22:06] zonca commented on #24
There is now an issue on the Jetstream platform, unrelated to the reset, and I cannot redeploy. They are working on a fix. I'll update this issue once I am able to proceed.

[2020-06-10 08:00] zonca commented on #24
they haven't yet fixed the issue on Magnum.
So I have switched to the other deployment strategy using Kubespray https://zonca.dev/2018/09/kubernetes-jetstream-kubespray.html
I already have a cluster running, I'll configure it for CDMS in the next days and update you here.

[2020-06-11 04:18] zonca opened #25 "Jupyterlab rebuild prompt due to jupyter-matplotlib"
![image](https://user-images.githubusercontent.com/383090/84344509-d579e600-ab5f-11ea-8bc9-694b9e905806.png)

it seems not harmful, **just click cancel**

anyway I'll try to understand why this happens.

[2020-06-11 04:19] zonca commented on #24
ok, it is back up.
I have deployed with a different strategy, I tested:

* launch notebook
* that the data in the /cvmfs/data volume is still there
* install_cdms_kernels works

only strange is the popup asking to rebuild jupyterlab, see https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/issues/25, **just click `cancel`**

if there is anything else broken please open another issue.

[2020-06-11 04:19] #24 closed

[2020-06-11 07:22] zonca opened #26 "Build SSH public key into CVMFS container"
https://github.com/zonca/docker-cvmfs-client/commit/9e882e6391f8fbc8eaa4670641a20cfc9ad5b919

Testing the build, this simplifies deployment and redeployment because the key is built into the image.

Check the build logs, test at the next redeployment.

[2020-06-16 06:52] zonca commented on #26
build seems fine https://hub.docker.com/repository/registry-1.docker.io/zonca/cvmfs-client-nfs/builds/866ef39b-3157-4604-8fc7-fa784aff6528

test next time I redeploy

[2020-06-20 01:09] glass-ships opened #27 "Automatic kernel selection"
I'm wondering if it would be at all possible to configure the jupyter notebooks to open with the most recent cdms kernel by default?

This may possibly be related to an email I just sent regarding the possibility of running `install_cdms_kernels` during the image spawning process.

[2020-06-20 01:22] zonca commented on #27
I tried to have it running automatically, as a before-notebook hook,
it is actually still configured for that, see https://github.com/zonca/docker-jupyter-cdms-light/blob/master/Dockerfile

However I couldn't get it to run. Let's keep this issue open, I'll try again.

About automatic kernel selection, I don't know if that is possible, anyway it seems unrelated to the deployment on Jetstream, so if

[2020-06-25 01:35] pibion opened #28 "`ls /cvmfs` takes a long time"
I hadn't noticed this behavior before, so maybe the issue is that there's now more data in the directory?  Here is an output showing the issue:

[code]

[2020-06-25 01:36] zonca commented on #28
Where are you running from?

[2020-06-25 01:50] zonca commented on #28
Debugging this, if I run locally inside the pod, it is very fast:

[code]

Instead if I connect to JupyterHub and connect to that, it is very slow.

so it is the NFS server, I'll take a look.

[2020-06-25 01:58] zonca commented on #28
Tried launching a different standalone pod with https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/master/cvmfs/test_nfs_mount.yaml

and there `ls` is actually very fast, so there must be something problematic about the Jupyter pods or the Jupyterlab terminal.

[2020-06-25 05:07] zonca commented on #28
ok, I restarted the pod and now it is very fast.
However I don't know what was wrong so it will probably happen again.
Please reopen the issue when that happens and I'll try to debug more deeply.

[2020-06-25 17:06] zonca commented on #26
redeployed CVMFS yesterday,
confirm that this is working.

I also checked that the container was actually using this image:

https://hub.docker.com/layers/zonca/cvmfs-client-nfs/latest/images/sha256-d680b999353534402a0f3a83d99094d6260491870c10116d4d9940fde50a7b89?context=repo

I am using `latest` in the pod and that is fine because I am rarely updating those containers.

[2020-06-25 17:06] #26 closed

[2020-06-25 18:40] zonca commented on #25
while working on the image as part of #27, I plan also to update all the packages, hopefully that will fix this issue.

[2020-06-25 18:45] zonca commented on #28
I see it is slow again, I'm checking what is going on

[2020-06-25 18:49] zonca commented on #28
The cache disk is full.

`dev/sdd         20G   20G     0 100% /var/lib/cvmfs`

[2020-06-25 18:52] zonca commented on #28
creating the service again with a cache folder of 200GB

[2020-06-25 19:22] pibion commented on #28
@zonca are we doing something non-optimal that's causing the cache folder to get large?

[2020-06-25 19:25] zonca commented on #28
@pibion no I think it is normal, I'll monitor cache size.

However now that I restarted the service, the pods cannot connect to NFS anymore. Debugging that.

[2020-06-25 19:51] zonca commented on #28
@pibion actually the NFS server is fine,
it is instead an issue in Kubernetes that cannot mount the NFS shares.
I could try to debug this issue, however, this deployment has a old version of Kubernetes, I'd rather use the new deployment I have been working on.
Only then, if the issue persists, I will debug it.

I see:

* `herogers924`
* `jpanmany466`

connected, can you check with them if I can pr

[2020-06-25 21:08] pibion commented on #28
@zonca, would it be possible to restore at least the local user data for `jpanmany466`?

She's a student and has only just gotten her ssh keys and local repositories set up.

[2020-06-25 21:31] zonca commented on #28
Ok

[2020-06-25 21:33] pibion commented on #28
@zonca awesome, thank you!  In the meantime I'll check that they've recently committed so that if anything is lost it's not too troublesome to recover.

[2020-06-26 06:51] zonca opened #29 "install NFS-common on nodes"
in order to mount the NFS share I have to manually install the `nfs-common` package on the nodes.

check if I can add this to kubespray or ask Jetstream if they can add it into the images

[2020-06-26 06:58] zonca commented on #28
ok, I have redeployed, saved the user volumes (hope it worked fine),
added docs about that procedure to [REDEPLOY.md](https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/master/REDEPLOY.md)

I'm closing this issue for now, let's see how it goes in the next days.

[2020-06-26 06:58] #28 closed

[2020-06-26 21:30] pibion opened #30 "allow users to spin up large or extra-large instances?"
Hi @zonca , we have some users that are likely going to need a lot of RAM for some upcoming analysis (@ziqinghong).  The goal is to eventually eliminate the need for > 10 GB but for now there are times when it would be helpful to have a whole lot of RAM available.

I wonder if it's possible to make it an option for users to request a large or extra-large instance.  If this is difficult please don'

[2020-06-27 02:02] zonca commented on #30
I looked through the docs of KubeSpawner, they have native support for this!

See `profile_list` in https://jupyterhub-kubespawner.readthedocs.io/en/latest/spawner.html

They could even have different images.

See this example from the docs:

[code]

the users should get a dropdown menu and they can choose which one they want.

if you decide on a name, CPU and memory requirements for 3 or 4 profil

[2020-06-27 19:24] pibion commented on #30
Amzaing!  @ziqinghong, could you comment on how much RAM you're likely to need for your two-month analysis of the TUNL data?  I'm thinking we can set up some profiles with increasing numbers of CPU and that much RAM so you can play around with using Dask to speed up slow computations.

[2020-06-27 20:11] ziqinghong commented on #30
For interactive computing, usually the code is single threaded. At most at times there are implicit multithread happening. The most amount of work is to look at an 2D array or equivalent dictionary, apply a bunch of selection criteria, and make a bunch of histograms. So 1-2 CPU core would be plenty I would guess. 16-32 GB of RAM would be nice. Though I might not understand how numpy does its under

[2020-06-27 22:17] pibion commented on #30
Thanks @ziqinghong!  @zonca will have a Dask server up and running at some point, and since you're using numpy arrays it may be fairly easy to use Dask to parallelize your code without having to change much.  So if there end up being things that are obnoxiously slow that you would normally want to move to a cluster, Dask may be another option.  If that sounds useful then we could set up some insta

[2020-06-29 18:24] pibion commented on #16
Hi @zonca , one of our users is having trouble spinning up an instance.  I've attached her message and images.

![JupyterHubServerStart2](https://user-images.githubusercontent.com/1872784/86041771-662b3f80-ba03-11ea-994e-945695d80d52.png)
![JupyterHubServerStart1](https://user-images.githubusercontent.com/1872784/86041772-66c3d600-ba03-11ea-8f6b-0af7eb646d7d.png)

[2020-06-29 18:31] zonca commented on #16
yes, I see all the persistent volumes have been deleted.
Now I would like to understand why that happened.
After I redeployed on Thursday around noon Pacific (https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/issues/28#issuecomment-650011693) has anyone tested JupyterHub, did they see their old data?

[2020-06-29 18:34] zonca commented on #16
@pibion, anyway I reset the volumes, now it should work fine for all users. Can they try again?

[2020-06-29 18:49] pibion commented on #16
@jpanmany466, could you try to access JupyterHub again and let us know if you see your existing files?

[2020-06-29 18:55] zonca commented on #16
@pibion next time please open a new issue to report anything not working, even if symptoms are similar, most of the time errors are unrelated. That helps me keep track of things. Thanks.

Existing files are definitely gone, I'm sorry about that, something went wrong either in my redeployment or something happened afterwards. I'll be sure I ask someone to test just after I redeploy next time.

[2020-06-29 18:57] pibion commented on #16
@zonca re issues: sounds good, will do.  I'll contact the student and see if they need any help setting up again.

[2020-06-29 19:00] zonca commented on #29
added to `ansible`, test next time I do redeployment or add a node:

https://github.com/zonca/jetstream_kubespray/commit/3d177393480095d8a765687428a020b6c82d6848

[2020-07-07 00:16] pibion opened #31 "uploading files to JupyterHub - increase file limit?"
Several people have tried to upload data files (larger than 100 MB, less than 1 GB) but have run into "file too large to upload" errors.

Is it possible (and wise) to increase this limit?

[2020-07-07 04:45] zonca commented on #31
I set 100MB back in #11.
I don't recommend using the browser upload for 1GB files, it would be way better to open the terminal and use ssh or rsync.
Anyway, it is a easy fix, I can bump it up to 1GB for convenient.

[2020-07-07 05:25] zonca commented on #31
ok, I increased it to 1GB,
then I tested uploading a ~550 MB file,
I am quite impressed with the Jupyter uploader, it seems very fast and reliable, and minimal resource usage.
it also has a progress bar.

![image](https://user-images.githubusercontent.com/383090/86717979-83e63f00-bfd7-11ea-9ff5-a9496b71048c.png)

So it might work for bigger files, I increased the limit to 10 GB

[2020-07-07 05:25] #31 closed

[2020-07-07 05:27] zonca commented on #31
btw, I find it very useful to ask about usability improvements, @pibion, they are often quick fixes for me but very useful for the users.

[2020-07-07 05:28] zonca commented on #16
I think this is fixed, if not please open another issue

[2020-07-07 05:28] #16 closed

[2020-07-07 05:50] zonca opened #32 "Rebuilding the user images"
I started to update the user images, my work is based on the images released by the Jupyter team:

https://github.com/jupyter/docker-stacks

but modified to be based on Centos 7 instead of Ubuntu:

https://github.com/zonca/jupyter-docker-stacks-centos7

So we will get a newer version of JupyterLab, and I'll try to fix #25 and #27

I'll notify when it this is deployed.

[2020-07-07 06:47] zonca commented on #32
the updated images are larger, because they also have the Latex environment which is used by nbconvert, I could remove that. However we are using very large Jetstream instances, so we should be fine.

[code]

[2020-07-07 07:15] zonca commented on #25
ok, this is fixed in #32 updating the image to the 2020.07 version.

[2020-07-07 07:15] #25 closed

[2020-07-07 07:23] zonca commented on #32
ok @pibion, this is deployed, please let me know if there are issues.
It also has the `jupyterlab-system-monitor`

![Screenshot 2020-07-07 at 00 18 20](https://user-images.githubusercontent.com/383090/86735709-d596c580-bfe7-11ea-970a-d5f9401e645a.png)

also it would be useful if you create a group under the organization https://github.com/orgs/det-lab/people with all the users of the Jetstream dep

[2020-07-07 08:02] zonca commented on #30
ok, implemented this.

Now when users start their session they can choose:

![image](https://user-images.githubusercontent.com/383090/86742799-3e347100-bfed-11ea-9f0a-f5fb64513597.png)

You can create profiles or change the names here:

https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/42af7fa9ad805d0c643885c81768f3f8924ebdce/config_standard_storage.yaml#L30-L44

Please create

[2020-07-07 08:04] zonca commented on #30
@julienchastang you might be interested in this feature as well, if you don't already know about it.

[2020-07-07 08:09] zonca commented on #30
No, dask will launch other pods and distribute work on those pods, so it is independent of the size of the Jupyterlab pods.

it is good practice to scale cpus and RAM the same way, it's like you are getting the same percentage of RAM and CPU. This way we can better use all the resources of a node. Consider that a lot of numpy functions nowadays automatically use all the CPUs, so it is nice to have

[2020-07-07 18:25] pibion commented on #30
@zonca thanks for the clarifications!

[2020-07-07 22:43] pibion opened #33 "ip addresses for whitelisting?"
In our collaboration we sometimes whitelist ranges of IP addresses for easier access to collaboration resources.

Is there a range of IP addresses for the JupyterHub instances people spin up that we could ask our colleague to whitelist?

[2020-07-07 23:23] pibion opened #34 "add text editors to JupyterHub environment?"
Right now we have only vi - would it be possible to add nano, vim, and emacs?

[2020-07-08 00:34] zonca commented on #34
sure added, you can add any other CentOS package adding it here and making a pull request:

https://github.com/zonca/docker-jupyter-cdms-light/blob/master/Dockerfile

[2020-07-08 00:34] #34 closed

[2020-07-08 00:37] zonca commented on #33
I think 149.165.*.* should work.

[2020-07-08 00:39] zonca commented on #32
ok, this seems to work fine, I'll investigate #27 next

[2020-07-08 00:39] #32 closed

[2020-07-08 00:43] zonca commented on #30
@ziqinghong @pibion do you have any feedback on this? or is it ok for now?

[2020-07-08 16:53] pibion commented on #32
@zonca I've made a jetsream-users team, but it seems you have to be a member of the det-lab organization for me to add you.

Does that sound right to you?  I'm wondering if I'm missing a different type of grouping.

[2020-07-08 16:58] pibion commented on #30
@zonca so far so good.  I've only used the tiny instance, but the options are showing up clearly at login.

@ziqinghong what data do you need to take advantage of the large node?

[2020-07-08 17:35] zonca commented on #32
@pibion yes, right teams are just for organization members.
We can do 2 ways, either is fine for me:
* leave me out of that team, after all, it is mostly useful for me to reach to them. only annoyance is for example if you want to communicate something you have to tag @jetstream-team and @zonca
* add me to the organization and to the team, (unless you have sensitive data in some repos, then better

[2020-07-08 17:37] zonca commented on #32
@pibion, actually option 1 won't work, I cannot tag the team if I am **not** member of organization.
So if you don't have sensitive data and can do option 2 good, otherwise nevermind.

[2020-07-08 17:43] ziqinghong commented on #30
Just tried the super big one. Worked. Thank you!

@pibion Can we talk in a different thread about how can I register ~200 files in data catalog?

[2020-07-08 23:32] pibion commented on #33
Hi @zonca , from our admin:

[2020-07-09 00:23] zonca commented on #33
@jlf599 quick question: what is the IP range of Jetstream?

[2020-07-09 02:44] zonca commented on #33
Got it, thanks @jlf599,
@pibion, better not post publicly, I'll email you

[2020-07-09 02:44] #33 closed

[2020-07-10 17:18] #30 closed

[2020-07-10 19:04] zkromerUCD opened #35 "SSH "Bad owner or permissions on /home/jovyan/.ssh/config" when starting up JupyterLab"
Whenever I initially log in to JupyterLab, I am unable to use ssh, getting the error: "Bad owner or permissions on /home/jovyan/.ssh/config". I am able to fix this by changing the permissions on the config file (chmod 600 config).

[2020-07-10 19:22] zonca commented on #35
Thanks for reporting this, it's not critical, I'll investigate in the next weeks.

[2020-07-15 22:13] pibion commented on #35
Thanks @zonca .  Of the SuperCDMS deployment issues, I'd put this near the top since it adds a barrier to people pushing and pulling their git repositories.

[2020-07-16 01:54] zonca commented on #35
I cannot reproduce this, I wiped my volume and had it recreated, there is no `.ssh/config` file:

![image](https://user-images.githubusercontent.com/383090/87617360-2e431e00-c6cc-11ea-9a0d-77c93e5e7778.png)

when this happens again can you please give me more details? have you created `.ssh/config` yourself?
Send me the outputs of:

[code]

[2020-07-16 14:21] pibion commented on #35
@zonca yes, we do create the `.ssh/config` ourselves.

@zkromerUCD , could you provide the outputs @zonca has requested?

[2020-07-16 15:39] zonca commented on #35
Is it possible you just create it with the wrong permissions?
Do you have docs that explain how to create it somewhere?

[2020-07-16 17:50] pibion commented on #35
@zonca it definitely is possible - but even if I fix the permissions, they're reset when I log out and log back in.

So a working set of credentials looks like:
[code]

And this is what things look like when I re-login:
[code]

[2020-07-16 18:01] zonca commented on #35
ok, thanks, now I understand the issue and I can reproduce it:

I create files with restricted permissions:
[code]

then I kill the container and restart it:

[code]

I have no idea how this can happen, I'm investigating.

In the meantime as a workaround, you can add to your `.bashrc`:

    chmod 600 .ssh/id_rsa

so that every time the shell is initialized the permissions are fixed.

[2020-07-16 18:25] zonca commented on #35
I tested in Openstack, detaching and reattaching volume to instance and checking permissions,
that works fine. It must be Kubernetes doing something strange when mounting the volume.

[2020-07-21 17:53] pibion opened #36 "Cannot start JupyterLab session"
@jpanmany466 is having difficulty starting a JupyterLab session - the complaint it returns is that the spawner is timing out:

![spawner_timeout](https://user-images.githubusercontent.com/1872784/88089122-be5bea00-cb48-11ea-9d2f-a0fad7cb3622.png)

[2020-07-21 18:02] pibion commented on #36
Interestingly, I was able to start @jpanmany466 server from the admin tab.

She's now trying to start her server again to see if the issue is reproducible.

[2020-07-21 18:19] zonca commented on #36
it looks like a timeout in mounting the NFS volume, I wonder if it is related to https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/issues/28
I'm running a test

[2020-07-21 19:30] pibion commented on #36
@zonca thanks!  I just confirmed with @jpanmany466 that she was able to spin up a server, so this is either intermittent or one-time.

[2020-07-21 19:38] zonca commented on #36
ok, I checked the NFS server and the speed of `ls` and it seems fine. Please reopen the issue if it happens again.

[2020-07-21 19:38] #36 closed

[2020-07-21 20:46] pibion commented on #36
Will do!

[2020-07-21 20:59] pibion opened #37 "GPU access through JetStream?"
@zonca , @00KevinMac and @farnoush-bk are doing some machine learning work that requires GPU computing.

@00KevinMac has taken a look at XSEDE resources, and allocations on pretty much any of their GPU resources (e.g. Bridges or Comet) would serve well.

I'm wondering if it's possible to access these resources from the JetStream JupyterHub, or if JetStream has GPU VMs.

I'd like to stay away from

[2020-07-21 23:04] zonca commented on #37
Jetstream doesn't have GPU.
I think your best choice is to use Comet.
They already have cvmfs installed.
Also, they are currently installing a platform which will allow users to launch Jupyter Notebooks. I don't know when it will be ready, I'll notify you once it is available.

Anyway even now you can run Jupyter Notebooks yourself, but it is a but laborious. The only problem is that you have to c

[2020-07-22 21:46] pibion commented on #35
@zonca would it be helpful to have @glass-ships take a look at this now that we have a "develop" instance?  I can ask if he's interested.

[2020-07-22 21:51] zonca commented on #35
yes, please, I have no idea how to debug this, it must be some Kubernetes internals.
Out of desperation I asked on stack overflow: https://stackoverflow.com/questions/62941935/kubernetes-changing-permissions-of-mounted-volumes
If anyone else you know has knowledge of Kubernetes and wants to take a look at that question it would be useful.

[2020-07-27 21:54] zonca commented on #35
I spent some hours debugging this, I think it is not a Kubernetes issue, but it is the JupyterHub image which is applying some permission fixes, however I could not identify exactly where this is happening.

But I have found a better workaround, now each time a user container starts, I automatically run:

[code]

So now permissions are fine even for users that haven't implemented any fix in their

[2020-07-27 21:54] #35 closed

[2020-07-27 21:55] zonca commented on #35
See https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/commit/b717099038a147c38351feb51fcfb87c24e2f198

[2020-07-28 17:07] pibion opened #38 "JupyterLab spawning failure"
@jpanmany is running into spawning issues again:

![spawn_fail2](https://user-images.githubusercontent.com/1872784/88697754-56fee680-d0c2-11ea-9878-73ac1c4b407e.png)

This time it looks like the issue is that she doesn't have ssh keys, and the script is failing when it tries to set permissions.

[2020-07-28 17:44] zonca commented on #38
Of course, silly me, I didn't think about .ssh missing, working on it

[2020-07-28 17:47] zonca commented on #38
Ok, should be fixed now, can you cross-check and close issue if ok?

[2020-07-28 19:27] pibion commented on #38
@jpanmany reports success!  Thanks @zonca!

[2020-07-28 19:27] #38 closed

[2020-07-29 17:57] zonca commented on #35
@pibion @glass-ships, understood what is the issue with the `.ssh` folder, see https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/38#issuecomment-665811462

[2020-07-30 03:47] zonca commented on #37
also, Jetstream 2 is coming later this year with GPUs! https://www.hpcwire.com/2020/06/02/jetstream-2-cloud-will-deploy-with-amd-and-nvidia-technology

[2020-07-30 03:56] pibion commented on #37
@zonca oh that is fantastic!  I'm happy to volunteer some testers :)

[2020-07-30 04:47] zonca commented on #37
I asked about the schedule, they said Jetstream 2 early operations will be summer 2021

[2020-08-11 17:21] zonca commented on #7
I started to work on `dask`, in particular using `dask-gateway`, https://gateway.dask.org/, which provides infrastructure to handle multiple `dask` clusters inside Kubernetes.

I haven't managed to get it working yet, it has a complex architecture and I am finding difficult to even understand why it is not working.

Anyway, I'll keep testing and debugging.

[2020-08-11 22:42] #37 closed

[2020-08-12 00:36] zonca commented on #7
@pibion good news, I got `dask-gateway` working (on Jetstream, but outside of CDMS for now), I prepared a tutorial here:

https://zonca.dev/2020/08/dask-gateway-jupyterhub.html

see also an example from the user point of view: https://gist.github.com/zonca/355a7ec6b5bd3f84b1413a8c29fbc877

Next I need to customize this for CDMS and install to the production deployment.

@ziqinghong for the analysi

[2020-08-14 20:41] pibion opened #39 "install gfortran + documentation for adding to CDMS environment"
We've had a user request gfortran.  I think I can just add this to https://github.com/zonca/docker-jupyter-cdms-light/blob/master/Dockerfile, is that correct?

The images won't be rebuilt and deployed automatically after this change, will they?

[2020-08-14 20:41] pibion commented on #39
^ @zonca

[2020-08-17 18:55] zonca commented on #39
the best would be to ask @bloer to install `gfortran` via conda inside the CDMS Python environment on CVMFS.
That way the environment is more portable and if you use `gfortran` to build some Python extensions, that has less chances to link incorrectly.
And also, this is usable also outside of Jetstream just loading the CVMFS environment.

However if you are fine with just compiling FORTRAN codes o

[2020-09-02 15:57] zonca commented on #7
@pibion @ziqinghong for now I'll assume we want to use the full environment from CVMFS, that seems the most robust solution.

[2020-09-02 16:46] ziqinghong commented on #7
Sorry this fell through the crack. The whole python environment via cvmfs seems ideal. Thank you!

[2020-09-02 22:17] zonca commented on #7
ok, I deployed `dask gateway` on the SuperCDMS JupyterHub, for now using a standard image, just to test the infrastructure and it works fine.

Next I need to have the workers use CVMFS, first though I need some packages installed,
@bloer could you please install:

     dask_gateway==0.8.0 dask==2.25.0 distributed==2.25.0

these packages in the next CDMS software release on CVMFS?
When that is avai

[2020-09-02 22:21] zonca commented on #7
@ziqinghong if you want to test drive it,
you can run the lastest CDMS kernel, install locally the extra packages with:

    pip install --user  dask_gateway==0.8.0 dask==2.25.0 distributed==2.25.0

restart the kernel and then run this notebook (replace `js-xxx-yyy` with `supercdms`):

https://gist.github.com/zonca/355a7ec6b5bd3f84b1413a8c29fbc877

for now the workers do not have the CDMS packages

[2020-09-03 04:42] zonca commented on #39
@pibion any update on this issue?

[2020-09-03 06:10] zonca commented on #13
there are too many different things in this issue, @pibion if you are still interested in any of the above, please open a dedicated issue.

[2020-09-03 06:10] #13 closed

[2020-09-03 06:28] zonca opened #40 "Cluster monitoring with Prometheus and Grafana"
I have deployed Prometheus and Grafana, this is useful to check the health of the production deployment.

I followed and updated the tutorial at https://zonca.dev/2019/04/kubernetes-monitoring-prometheus-grafana.html

See the README in the secret repository for instructions on how to access: https://github.com/pibion/jupyterhub-deploy-kubernetes-jetstream-secrets/blob/master/README.md

Some exampl

[2020-09-04 21:25] pibion commented on #39
@zonca we did decide it would be most appropriate to put any needed compilers into the CVMFS environment.

[2020-09-04 21:31] zonca commented on #39
Very good!

[2020-09-14 18:35] zonca commented on #7
@bloer @pibion, do you think we can get these packages installed in the CDMS python environment on CVMFS?

    dask_gateway==0.8.0 dask==2.25.0 distributed==2.25.0

[2020-09-14 18:45] bloer commented on #7
@zonca do we want the strict == requirement, or >= ?

Also note that because CVMFS does it's magic by setting PYTHONPATH, `pip install --user` will behave weirdly.  If the package doesn't exist at all in CVMFS it should work fine, but otherwise packages on PYTHONPATH will preempt the user's local directory.  So it's best to explicitly add userhome to PYTHONPATH.  I have a ticket open to try to fig

[2020-09-14 18:59] zonca commented on #7
`==`,

`pip install --user` is just for testing purposes right now, and it works fine, once we have them in CVMFS, no need.

[2020-09-15 04:28] zonca commented on #40
@pibion have you tested this? any feedback?

[2020-09-15 04:38] zonca opened #41 "Extend and renew XSEDE project"
@pibion the allocation ends on October 27th, I suggest you ask first for an extension of 6 months, see https://portal.xsede.org/allocations/policies#356 (in the text also mention you'd like to extend ECSS).
You can check how many hours are left on the allocation and decide how much supplement we might need, if any, we expect to keep using hours at the same rate of the last 3/4 months.

Then, in De

[2020-09-28 16:19] zonca commented on #7
@bloer would you have any update on this? thank you

[2020-09-28 16:55] zonca commented on #40
ok, I also setup HTTPS for Grafana, it seems to be working fine, closing this.

[2020-09-30 16:16] bloer commented on #7
@zonca sorry, too many deadlines lately.  I should have some time at the end of this week.

[2020-09-30 17:27] pibion opened #42 "only provide the most recent kernel?"
I think it might be preferable to list only the most recent CDMS kernel - the list of available kernels is getting pretty long!

What do you think @bloer, @zonca

[2020-09-30 17:41] bloer commented on #42
@pibion is there a way to access earlier kernels if they're not in the list? Part of the goal of CVMFS was to make sure that old releases are still around (a) for reproducibility and (b) so that your analysis won't break every time a new release comes out.

Since this is early days, it probably wouldn't hurt to trim the older kernels from the list. But eventually all the kernels should stick aroun

[2020-09-30 22:26] zonca commented on #42
as the functionality to add kernels is provided by the CDMS software stack, it would be better to implement there something like `prune_old_kernels` available in the path which for now let's say keeps only the last 5 kernels and deletes the rest.
In the future @bloer could change internally what this function does (for example deletes all kernels before let's say June 2021), but nothing changes fr

[2020-10-07 17:14] bloer commented on #7
This should now be addressed in the V03-05 release on cvmfs

[2020-10-09 22:05] zonca commented on #7
I get an error in the `V03-05` kernel, but I don't understand yet why, still debugging,
when I call `new_cluster`:

[code]

but it looks like it still creates the cluster, but then fails when I try to get the client:

[code]

I even tried overriding the packages installed in CVMFS with packages in `.local` (I was worried there was a timeout due to NFS being slow), but I get the same error in both

[2020-10-09 22:20] bloer commented on #7
In your first traceback, the error says it's coming from your `.local` directory; is that possibly part of the problem?

[2020-10-09 23:01] zonca commented on #7
No, I tried both ways and the error is the same

[2020-10-10 04:08] zonca commented on #7
found some errors in the Traefik logs:

[code]

[2020-10-13 21:03] pibion commented on #41
Okay, I've requested an extension (for Jetstream and ECSS).

It looks like we will need to request a supplement, the allocation is down to 6%.  I'm trying to see how I can get info on consumption rate.

[2020-10-14 01:16] zonca commented on #41
See resource usage here: https://www.github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/tree/master/DEPLOY.md

I think we are using ~20k SU/month now with 1 medium and 1 xlarge

[2020-10-14 04:32] zonca commented on #42
@bloer what do you think about adding a `prune_old_kernels` script to the CDMS software stack?

[2020-10-14 05:33] zonca commented on #7
worked on this a bit more, cannot find what is wrong, asked on Stackoverflow: https://stackoverflow.com/questions/64347182/

[2020-10-20 16:28] zonca commented on #7
too bad, no answer on Stackoverflow, next I want to create a test Kubernetes cluster from scratch on another account and do some testing there, see if in a simpler setup I can understand what is going on.

[2020-10-21 22:52] pibion commented on #41
Okay, our extension request has been approved!

With ~20k SU/month, does a supplement of 120k SU (for the next six months) sound reasonable?

[2020-10-21 23:07] pibion commented on #41
Ack, wait, nothing is showing up in my allocations now!  Checking into it...

[2020-10-22 02:20] zonca commented on #41
Yes right 120k would be enough

[2020-10-28 16:08] zonca commented on #7
Dask Gateway is probably going to release a new version soon, I'll wait 1 or 2 weeks and test directly with the new release, you never know that this could fix the issue magically. https://github.com/dask/dask-gateway/releases

[2020-10-28 16:09] zonca commented on #41
@pibion I'll need to update the workplan for the extension,
I will mostly focus on having dask working and support your testing. Anything else we should mention?

[2020-11-03 18:56] zonca commented on #7
good news, I think I have identified the problem thanks to an answer from the dask gateway devs.
It was just a version incompatibility, I was mistaken thinking that the worker and scheduler images had `distributed` 2.25.0 instead they had an older version of `distributed`.
So my plan now is to build custom docker images for CDMS which don't have a Python environment but load it from CVMFS and use

[2020-11-04 00:09] zonca commented on #7
working on it in https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/pull/43

[2020-11-06 06:13] zonca commented on #42
@bloer what do you think about adding my idea of adding a `prune_old_kernels` script to the CDMS software stack?

[2020-11-06 16:16] pibion commented on #42
@zonca it turns out this would be useful for other deployment sites as well.  The thing we're struggling with is that we'd like users to be able to access old versions for reproduciblity purposes.  So then the question becomes: what versions do we really need to keep?

[2020-11-06 16:39] pibion commented on #42
@zonca I really like the idea of keeping the five most recent major releases.  @bloer how does that sound to you?

[2020-11-06 17:20] bloer commented on #42
We're not deleting anything from cvmfs, so users can always reinstall an older kernel if needed. `setup_cdmsh.sh` is already getting kind of clunky so I don't really want to bolt on more functionality that's only loosely related.  But we could stick it in a 'tools' folder or something right under /cvmfs/cdms.opensciencegrid.org/ so it's outside the release trees.

Can you remind me again how the k

[2020-11-06 18:50] zonca commented on #42
we have a `install_cdms_kernels` script you have written and it is baked into the image:
https://github.com/zonca/docker-jupyter-cdms-light/blob/master/install_cdms_kernels

it has to be executed manually (I tried to automate but failed, see #27),
so I would do a `prune_cdms_kernels` script also to be manually run.

So maybe we should move `install_cdms_kernels` to CVMFS in a tools folder?

[2020-11-10 22:50] pibion commented on #41
@zonca I'm working on the supplement request, and there's a question about how many virtual machines and how many IPs we'll need.  Does it make sense to put zero here, or would you recommend putting the number we're using now (4?) to continue those resources?

[2020-11-10 22:54] pibion commented on #41
@zonca Dask and testing support sounds complete to me.  In particular I'm expecting we'll be testing the shared data volume a bit in the upcoming months.  We do sometimes see slow startup; I'm not sure if that's worth calling out explicitly.  When it's really bad we make tickets, but I'm expecting to find out how much of an issue it is once more people are using the system.

Myself and a few stude

[2020-11-11 00:31] zonca commented on #41
* We are using 2 IPs
* We are using 2 virtual machines
yes, better specify those.

@pibion, most of the `dask` deployment is done, so we can focus more on usability and performance.

Here is what I wrote in the extended workplan:

We already performed benchmarking of object store and we realized that adapting all their software to rely on that would be too cumbersome, so we closed that line of wor

[2020-11-12 16:40] pibion commented on #41
@zonca your extended workplan looks excellent to me.

The progress report I wrote for the extension is at  https://docs.google.com/document/d/1AXvxwEAD2VbO4oCBuMJcGGzgqSdQPxBrbqywHCySMUw/edit?usp=sharing.

Should I include Extended Collaboration Support and storage with the supplement request?

[2020-11-12 17:00] zonca commented on #41
better specify we want to keep the same amount of storage we had before, ECSS is already active in the extension, so no need to add it also to the supplement.

[2020-11-12 17:11] pibion commented on #41
@zonca thanks!  I've submitted the supplement request.

I'll keep a lookout for the opening of the science allocations in December.

[2020-11-13 22:39] pibion commented on #41
Eeee I just got a notification we're out of allocation and that compute will be suspended.

I did get the supplement request in yesterday, so hopefully that will get approved before too long.

[2020-11-14 17:23] zonca commented on #41
@pibion better if you also open a help ticket and explain the situation, just to make sure

[2020-11-16 17:31] pibion commented on #41
@zonca the supplement has been approved.

I'm still getting a "service unavailable" when I try to access supercdms.jetstream-cloud.org.  I emailed XSEDE support and they seemed to say that our resource wouldn't be de-allocated, just that no more computation would be allowed.  So that seems consistent with not being able to spin up a resource.

My main concern is that there's a user (@mbaiocchi) wh

[2020-11-16 17:50] zonca commented on #41
it might be unrelated, I see all the volumes, it seems docker is stuck on the head node, rebooting the machine

[2020-11-16 18:36] zonca opened #44 "Offsite backup of user data"
from @pibion:

[2020-11-16 18:36] zonca commented on #41
ok, it should be fixed now. moved issue about backup to #44

[2020-11-16 18:37] zonca commented on #44
@pibion we are thinking about just the user data, right? now the large 500GB volume, right?

[2020-11-16 18:39] pibion commented on #41
@zonca excellent, thanks!  I know I said this before, but I'll plan on submitting a science allocation request for these resources in December per your suggestion.  The review for the supplement was positive and recommended moving towards a science allocation.

[2020-11-16 18:41] pibion commented on #44
@zonca correct, just the user data.  We could definitely put strong caps on that.  It would be nice to give people 5 GB home spaces, but we could likely go lower if we think that might be a problem.

[2020-11-16 18:48] zonca commented on #44
ok, I tested the Openstack volume backup service https://docs.openstack.org/cinder/train/admin/blockstorage-volume-backups.html, but is not available on Jetstream:

[code]

Let me ask first the Jetstream team if they have recommendations

[2020-11-16 18:59] zonca commented on #44
@pibion do you have some details on what is the Open Storage Network offering you? Object store / NFS server / something else?

[2020-11-16 19:17] pibion commented on #44
They offer object store.

[2020-11-16 19:25] bloer commented on #42
I'm working on this, but hit an annoying snag.  The "right" way to do this is with the `jupyter kernelspec` command, but jupyter might not be available if you don't setup a specific release first.

[2020-11-16 19:26] pibion opened #45 "new spawn fails to start in 600 seconds"
One of our users is getting a "failing to start in 600 seconds" error when trying to log in to JupyterHub.  Picture below.

![Screen Shot 2020-11-16 at 13 55 56](https://user-images.githubusercontent.com/1872784/99298380-df86cb80-2806-11eb-971a-2616a8d7cabb.png)

[2020-11-16 19:31] zonca commented on #42
@bloer what about having a minimal miniconda env just to handle this operation?

[2020-11-16 19:44] zonca commented on #45
my bad, when I reboot the head node I need to also reboot the other node otherwise the internal network stops working.

[2020-11-16 19:44] zonca commented on #45
added reference to this problem in the docs

[2020-11-16 19:52] zonca commented on #45
ok I see `jupyter-mbaiocchi` running fine now

[2020-11-16 19:52] #45 closed

[2020-11-16 20:40] zonca commented on #44
@pibion S3 or SWIFT API for the object store?

[2020-11-16 20:49] zonca commented on #44
ok, it seems like doing at Openstack level is not possible if we don't have `cinder-backup`, I'll investigate Kubernetes solutions, starting from this maybe, https://www.fairwinds.com/blog/gemini-automate-backups-of-persistentvolumes-in-kubernetes, I'll do some research and report back.
In the meantime it would be useful to have more information about Open Storage Network.

[2020-11-16 20:59] pibion commented on #44
@zonca the Open Storage Network uses s3 API.

[2020-11-16 22:00] zonca commented on #44
Gemini requires VolumeSnapshot functionality we don't have currently installed in the cluster, `stash` looks interesting https://github.com/stashed/stash, it can save into a S3 endpoint.
I think I could do a test in a development deployment, @pibion can you please add the credentials for OSN to the https://github.com/pibion/jupyterhub-deploy-kubernetes-jetstream-secrets repo?

[2020-11-17 00:01] pibion commented on #44
@zonca credentials are added!

[2020-11-25 01:14] pibion opened #46 "Providing latex and fonts for matplotlib"
Analyzers using matplotlib often want to format their axis titles with LaTeX and this requires dependencies that are not installed with the matplotlib package.

@bloer has considered putting these dependencies into CVMFS, but LaTeX isn't so easy to compile and we're considering instead installing the dependencies on some of the underlying systems, at least as a stopgap.

@zonca I just wanted to ch

[2020-11-25 01:43] zonca commented on #46
yes, you can add that in a pull request, I don't thing a few hundred MB are going to have a significant impace, I'll open a separate issue about spawning.

[2020-11-25 01:48] zonca opened #47 "Jupyter notebooks spawning time"
Prompted by #46, let's debug what takes so long in starting up a session:

here is the kubernetes log

[code]

* startup took about 1 min and 30 sec @pibion do you often see  startup times way longer?
* it takes ~30 sec to mount the user volume
* however there is another minute after that, but don't know what is driving that

[2020-11-25 01:56] zonca commented on #47
I thought it was the mounting of the NFS volume, if I temporarily disable the NFS/CVMFS volume I get:

[code]

so it is still 40 seconds after mounting the volume

[2020-11-25 02:14] zonca commented on #47
Starting a container with the same image and also mounting the NFS volume, it starts very quickly:

[code]

definitely is not the image and not the NFS volume

[2020-11-25 02:29] zonca commented on #47
again in a standalone pod, I can also mount a Openstack volume :

[code]

this takes about a minute

[2020-11-25 19:13] zonca commented on #46
implemented in https://github.com/zonca/docker-jupyter-cdms-light/pull/2
once it is built on dockerhub, I'll deploy it

[2020-11-25 19:18] zonca commented on #46
ok, it built fine:

[code]

[2020-11-25 19:39] pibion commented on #46
Excellent, once it's redeployed I'll test with https://matplotlib.org/3.3.3/gallery/text_labels_and_annotations/tex_demo.html.

[2020-11-25 19:44] zonca commented on #46
moved the docs about the single user image directly to the repository where it is easier to find: https://github.com/zonca/docker-jupyter-cdms-light/blob/master/README.md (also linked from previous location)

[2020-11-25 19:47] zonca commented on #46
just deployed, consider that you need to stop and restart your container to have the image updated.

[2020-11-25 20:07] pibion commented on #46
@zonca these docs suggest to me that once the new image is pushed to DockerHub, no further action is needed to pick up the changes on JupyterLab.  Is that correct?

I'm getting "Failed to process string with tex because latex could not be found" when trying to make a plot with tex.

[2020-11-25 20:16] zonca opened #48 "Upgrade JupyterHub to 1.3.0 and Kubernetes 1.19"
Zero-to-jupyterhub released 0.10 with JupyterHub 1.2.1,
we currently have 0.9 with JupyterHub 1.1.0.

https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/CHANGELOG.md

In principle it should be an easy upgrade, I can do it directly in the production instance and if anything stops working, I should be able to revert to the old version.

I will do it when I see no-one is connected and I

[2020-11-25 20:21] zonca commented on #46
@pibion ok improved the docs.

you are using the old image, you need to stop and restart your container

[2020-11-25 20:48] pibion commented on #46
It works!

[2020-11-25 21:20] #46 closed

[2020-12-04 16:32] zonca opened #49 "Hub down - connection timeout"
Got a notification at 6am PT that the hub is down, investigating now
@pibion

[2020-12-04 16:34] zonca commented on #49
`openstack` commands hang, I believe it is an issue on Jetstream

[2020-12-04 17:24] zonca commented on #49
there is a power outage at Indiana University,
 I subscribed to the Jetstream users mailing list (for some reason I wasn't...),
@pibion I suggest you do the same:
https://portal.xsede.org/group/xup/user-news/-/news/manage-subscription

They will announce when it is back up.

[2020-12-07 18:09] zonca commented on #49
power came back up over the weekend: https://portal.xsede.org/user-news/-/news/item/12698?controlPanelCategory=portlet_usernews_WAR_usernewsportlet, checking the status of the deployment

[2020-12-07 18:11] zonca commented on #49
the instances are still in openstack but are in SHUTOFF state, booting and checking if Kubernetes comes back up

[2020-12-07 18:16] zonca commented on #49
ok, Kuberentes is up, the hub is up, there are errors mounting the NFS volume, so user sessions won't start

[2020-12-07 18:23] zonca commented on #49
ok, I restarted the `cvmfs` pod, now the service is operative again @pibion
please open another issue if anyone has troubles.
I'll also ask Jetstream is next time they can restart our instances.

[2020-12-07 18:23] #49 closed

[2020-12-22 21:36] zonca commented on #41
@pibion submissions opened last week, deadline Jan 15th:

XSEDE is now accepting Research Allocation Requests for the allocation period, April 1, 2021 to March 31, 2022. The submission period is from December 15, 2020 thru January 15, 2021. The XRAC panel will convene March 8, 2021 with notifications being sent by March 15, 2021.  Please review the new XSEDE systems and important policy changes (s

[2020-12-29 21:35] pibion commented on #41
Excellent, I've got a shell at https://www.overleaf.com/3955184126cjbtcqmdjjzd (to see it you have to be logged into Overleaf).

I'm hoping to have a rough draft done some time next week.  I think my dashboard will have the information I need to do the resource request justification.

One question I do have is whether it might make sense to put in another supplement request in the interim - only 1

[2020-12-31 19:32] zonca commented on #41
@pibion can you please check if usage is consistent with my estimate of 20K SU/month?

[2021-01-01 18:13] pibion commented on #41
@zonca looking into it.  The summary seems to aggregate the original allocation and the supplement, so it's not immediately clear how to get an estimate of use over e.g. the last two months.

They let you download CSV data (perfect!) but it's not totally clear to me how it should be interpreted.  I've opened up a ticket, I suspect I'm missing some documentation somewhere.

[2021-01-02 22:30] pibion commented on #41
Gah, well, a response from XSEDE support suggests that *none* of the numbers I'm seeing on the XSEDE user portal should be trusted (this is possibly restricted to Jetstream?).

His internal numbers show that this project is actually overdrawn on SUs.  I've asked if there's any way to access these numbers myself.  After a slightly-more-thorough search, I still can't find any XSEDE documentation abo

[2021-01-04 19:42] zonca commented on #41
@pibion nodes are up now.

Yes, please also ask for a supplement to get us to April, as we don't have any better estimate, let's add a bit of margin, so I would ask:

* 13K to recover our debt
* 20K/month Jan 1st to April 27th , +5K margin each month= 100K

so a supplement of 113K

[2021-01-04 22:11] zonca commented on #41
@pibion Jeremy confirmed my calculations, for the supplement I suggest to ask for 113K.

For the renewal:

* 4.5K/month for the master (m1.medium)
* 18K/month for each of the workers (m1.xlarge)
* We generally run 1 worker only, but if we get more users and also deploy autoscaling, I think we can ask that for 20% of the year we will have 2 nodes (as an example, consider we can host 1 user on maste

[2021-01-12 00:40] pibion commented on #41
@zonca okay, I've submitted the supplement request.  Will get going on the Science Allocation request tomorrow!

[2021-01-12 22:37] pibion commented on #41
@zonca great news, the supplement has been speedily approved.  Working on the Science Allocation request today.

[2021-01-14 23:27] pibion commented on #40
@zonca finally taking at look at this.  Do you think it's possible to make this a way to reliably estimate allocation use, per the discussion we've had with support?

[2021-01-14 23:31] pibion commented on #40
Also, would you be okay with me putting a pointer to the secrets repo in this repo's README?

[2021-01-15 00:21] zonca commented on #40
I think it's should already be there but for sure you can make it more prominent

[2021-01-15 00:36] pibion commented on #40
So if I take the "Kubernetes / Compute Resources / Namespace (Pods)" CPU information and integrate?  And then convert to SU?

[2021-01-15 00:57] zonca commented on #40
No, that is Kubernetes level, all of the Kubernetes pods run on 2 Jetstream nodes, 1 medium and 1 xlarge so we have constant burn rate

[2021-01-15 01:03] pibion commented on #40
Ah okay.  So is it accurate to say that the kubernetes burn plus the constant burn rate from the medium and large Jetstream nodes gives us the CPU usage?

I'm trying to figure out how to answer the "How I'll monitor resource usage and users" section in the XSEDE allocation request.  Users I can see from the admin console of JupyterLab.  But since the XSEDE user portal usage shouldn't be trusted fo

[2021-01-15 01:06] zonca commented on #40
I control resource usage by deciding how many Virtual Machine I deploy. Now I have 2, and they have a constant usage of:

(24 for xlarge + 6 for medium) cores * 24 hours/day * 31 days = 22320 SUs

[2021-01-15 01:07] pibion commented on #40
Ah okay, so if I track the number and type of virtual machines then I can calculate the SU usage.  And I can track that through the grafana interface?

[2021-01-15 01:12] zonca commented on #40
oh that is a good idea!
you can check the Nodes panel, it tells you the number of CPUs:

![image](https://user-images.githubusercontent.com/383090/104667717-94185e80-568b-11eb-9141-7d951d269b00.png)

![image](https://user-images.githubusercontent.com/383090/104667766-abefe280-568b-11eb-8d3e-4b475d2637a1.png)

[2021-01-15 01:15] pibion commented on #40
Ooh is there a constant burn rate for a single CPU?

If so then maybe I could make some kind of report that tracks how many CPUs are running.

[2021-01-15 01:17] zonca commented on #40
yes, 1 SU means 1 single CPU per hour, a medium instance has 6 CPUs a XLarge has 24, so:

(24 for xlarge + 6 for medium) cores * 24 hours/day * 31 days = 22320 SUs

[2021-01-15 01:34] zonca commented on #40
grafana only retains 24h,
I found another way, sorry I didn't think about this before:

https://github.com/pibion/jupyterhub-deploy-kubernetes-jetstream-secrets/commit/02749029ca9cb48218783aa42881a8fdad53f02c

[2021-01-15 01:42] pibion commented on #40
Oh, geez, I should have thought of this too.  Are VCPU-hours the same as SU?

[2021-01-15 01:47] zonca commented on #40
Yes

[2021-01-15 02:03] pibion commented on #40
Okay, awesome, I'm now reasonably confident I can accurately determine our remaining allocation.  I just need to keep track of the allocation start date and initial SUs.

[2021-01-15 16:43] pibion commented on #41
@zonca I've finally gotten something useful down for the allocation request.  If you have any time to glance at Section 3, I'd be happy for any comments.

[2021-01-15 16:58] zonca commented on #41
sure, I activated change tracking

[2021-01-15 17:10] zonca commented on #41
ok done @pibion, it looks good to me

[2021-01-15 17:20] pibion commented on #41
@zonca okay awesome, thank you!  Some of the resource justification stuff is repeated in a few places but I'd rather have things easy to find.  I'm going to go through the evaluation checklist one more time, I'll let you know once I've submitted.

[2021-01-15 22:14] pibion commented on #41
Submitted!

[2021-01-21 00:51] zonca commented on #48
@pibion I tested a newer version of the deployment, see https://zonca.dev/2021/01/kubernetes-jetstream-kubespray.html
This brings a new Kubernetes and a new JupyterHub version.
I need to redeploy from scratch and it will probably take a full day to do the update, so we need coordination.

I will try to save all the user volumes, but you never know what happens during a full redeploy, so I'd like t

[2021-01-21 01:06] zonca opened #50 "Test autoscaling"
Autoscaling support for our deployment from the official project is still very far away, see https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/34

So I implemented a hacked-up script myself, see https://zonca.dev/2021/01/autoscaling_script_kubespray_jupyterhub.html, I tested on a sample deployment and worked just fine.

Now I would like to deploy on CDMS (after #48), the main

[2021-02-05 19:03] zonca commented on #42
@bloer would you have any update on this?

[2021-02-05 19:05] zonca commented on #48
@pibion would you like to schedule the upgrade in 1 or 2 weeks?

[2021-02-22 18:06] zonca opened #51 "Test distributed computing with dask"
After the discussion in #7, I have a prototype deployment of Dask Gateway accessible to the SuperCDMS users, see #43.

The documentation on how to use it is as usual at https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream.

When someone in the team is ready to test it, @pibion, please first reply here and let me test it again, it has many moving parts and I would like to make sure it

[2021-02-22 18:17] #7 closed

[2021-02-22 19:15] pibion commented on #48
@zonca it's a good time to do maintenance.  The current user doesn't have any non-versioned secondary data, so if things are lost he can re-clone and recover everything.

[2021-02-22 19:19] zonca commented on #48
it would be even better if you tell me the username of people I should save data for, so I can delete all the other volumes, so we can cleanup the account a bit.

here are the volumes I have:

[code]

[2021-02-25 00:31] zkromerUCD opened #52 "JupyterHub boot up timeout on Tiny server configuration"
I received a timeout error while booting up JupyterHub on the Tiny server configuration. I had previously received the same timeout error when booting up on the Default server configuration, and then decided to retry with a Tiny server configuration.

Here is the event log for the Tiny configuration:

[code]

[2021-02-25 00:41] pibion commented on #48
@zonca I've been deleting users who are no longer in the collaboration and/or who know they won't be using the XSEDE JupyterHub in the future.  There are two more that I may be able to delete, I'm just waiting to confirm these.

This leaves us with still quite a few users.  Will it be troublesome to keep all these?  If so I can likely trim the list down further.  Ideally I'd like to save all these

[2021-02-25 03:18] zonca commented on #48
no problem, I'll keep those

[2021-02-25 03:30] zonca commented on #48
ok, I deleted the volumes of people that left the collaboration, I will keep all the others

[2021-02-25 03:44] zonca commented on #52
ok, I'm working on it, there was 1 volume that was stuck in detaching state, I reported the error to the Jetstream admins.
Now I am trying to put CVMFS back up.

[2021-02-25 03:51] zonca commented on #52
ok, it's back, please reopen the issue if still doesn't work.

[2021-02-25 17:36] pibion commented on #48
@zonca there's one more we can delete: jpanmany466.

We can consider this list final:

[code]

[2021-02-25 21:00] zonca commented on #48
ok deleted `jpanmany466`

[2021-02-26 16:58] zonca commented on #48
@pibion @zkromerUCD I'm starting the upgrade now, I'll let you know once it is completed, the hub will be probably down all day.

[2021-02-26 17:46] zonca commented on #48
* saved the `data` volume and the user volumes
* saved the floating IP
* deleted all openstack resource manually from Horizon

Now starting with https://zonca.dev/2021/01/kubernetes-jetstream-kubespray.html

[2021-02-26 20:36] zonca commented on #29
this didn't work, I had to install `nfs-common` manually

[2021-02-26 20:45] zonca commented on #48
ok @pibion @zkromerUCD, it is back up, it seems I managed to transfer all the data, please test it.
I haven't deployed yet grafana.

[2021-02-26 22:58] zonca commented on #48
forgot to say that I have temporarily deployed 1 medium master (as usual) and 1 medium worker (we usually use xlarge here) to save resources. So you cannot use the "Full node" option with 50 GB of RAM for now. @pibion is it ok?
When needed I can remove the medium worker and deploy a xlarge.

[2021-02-27 02:23] zonca commented on #40
redeploying after #48, strange error in cert-manager deploying the ingress:

[code]

[2021-02-27 03:00] zonca commented on #40
I didn't read my own docs to the end, I need to create another issuer, see bottom of https://zonca.dev/2019/04/kubernetes-monitoring-prometheus-grafana.html

[2021-02-27 03:00] #40 closed

[2021-02-27 03:03] zonca commented on #48
ok, grafana is back online (a newer version), see how to access (nothing changed) https://github.com/pibion/jupyterhub-deploy-kubernetes-jetstream-secrets#access-the-grafana-monitoring-dashboard

[2021-03-04 00:21] zkromerUCD commented on #52
Sorry for the late response, but I am still getting a timeout error while trying to start a Tiny server.

Here is the event log:
[code]

[2021-03-04 00:31] zonca commented on #52
can you try again now? I don't see errors on my side

[2021-03-04 00:34] zkromerUCD commented on #52
I still seem to be getting an error. Loading stalls starting with the message
```2021-03-04T00:32:19Z [Warning] AttachVolume.Attach failed for volume "pvc-666b461d-e7d0-43f7-8747-44483d7b19a8" : failed to find object```

I will try another sized configuration to see if that works, however.

[2021-03-04 00:39] zonca commented on #52
sorry, your volume disappeared from openstack, so your files are lost.
my bad I must have messed up a step in the transfer, some volumes are lost, I'll investigate further.

So you should logout and then log back in

[2021-03-04 00:43] zonca commented on #52
ok, it should work now, but all your data are lost. apologies.

[2021-03-04 00:43] #52 closed

[2021-03-04 00:50] zkromerUCD commented on #52
No problem! Thanks for fixing it!

[2021-03-04 00:51] zonca commented on #48
Something went wrong in the transfer of volumes, only these are saved:

* `zonca`, because I transferred it manually before doing all others in batch
* `rac101`, but it is in `attaching` status so it could be broken
* `mdlama`, but it is in `reserved` status so it could be broken

all the other user volumes are lost (the data volume is fine). @pibion sorry about this.

I think I know that went wro

[2021-03-04 01:04] zonca commented on #48
ok, I cleaned up the broken volumes

[2021-03-12 18:49] zonca commented on #48
ok, the upgrade is completed, please open dedicated github issues if other problems arise

[2021-03-12 18:49] #48 closed

[2021-03-12 18:53] zonca commented on #47
it looks like with the current version of Kubernetes, startup improved significantly:

[code]

I see just it took me only 26s instead of 90s it was taking before.
@pibion please reopen if instead you see different timings.

[2021-03-12 18:53] #47 closed

[2021-03-12 18:55] zonca commented on #41
we should get result of the proposal next week

[2021-03-12 18:58] zonca commented on #29
net deployment check the logs and see what happens in the step in `bootstrap-debian.yml` where we are installing `nfs-common`

[2021-03-12 19:00] zonca commented on #42
@bloer I am reviewing the old issues, any suggestions about this? I was thinking about a minimal miniconda env just dedicated to handling `kernelspecs`

[2021-03-12 19:17] zonca commented on #27
running the `install_cdms_kernels` script is quite slow, because it also overwrites the old kernels.
so I think it is better to keep it running manually,
the documentation for the users on how to manage their kernels is at https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/#install-jupyter-kernels

If anyone has a better idea, let's reopen the issue

[2021-03-12 19:17] #27 closed

[2021-03-12 19:46] zonca opened #53 "Update Jupyterlab in user container"
We have now Jupyterlab 2.x on the user images,
I am testing Jupyterlab 3, the nice thing is that now it is a lot easier to install extensions because they are simple python packages.

[2021-03-12 19:46] zonca commented on #53
I am testing the builds on DockerHub, I haven't deployed anything yet, will keep track here of progress.

[2021-03-12 19:48] zonca commented on #53
see https://github.com/zonca/docker-jupyter-cdms-light/commit/59caadae153f20fe958a3321a7e6f96747aadb06

the log of the update in conda:

https://gist.github.com/246a97dbac65e8b1db05efb10bd7f118

[2021-03-12 20:18] zonca commented on #53
build logs on dockerhub: https://hub.docker.com/repository/docker/zonca/docker-jupyter-cdms-light/builds/e259ccd1-31ba-4a60-826d-830b0a96605f

[2021-03-12 20:20] zonca commented on #53
tagged image `2021.03.12`

[2021-03-12 21:04] zonca commented on #53
it gives "need to rebuild `jupyter-matplotlib` extension" error, trying to add `ipympl` package to container

[2021-03-15 22:44] pibion commented on #41
@zonca our proposal was approved!

[2021-03-16 01:50] zonca commented on #41
excellent! the reviews were also good.
Soon I'll write a final report for this year and we will start to think about a workplan for next year.

[2021-03-18 00:02] zkromerUCD opened #54 "Unsure how to change machine allocation"
I started working with a tiny server option (1 CPU), but then realized that I needed a default server option (4 CPUs). However, I am unsure how to change the machine allocation from tiny to default.

[2021-03-18 00:08] zkromerUCD opened #55 "All but 2 nodes are unavailable"
When trying to start with a default server configuration, I get this error, and the loading for the server stalls:
2021-03-18T00:02:34.528016Z [Warning] 0/2 nodes are available: 2 Insufficient cpu.

Amy checked the admin panel, and nobody else seems to be using any nodes.

[2021-03-18 00:25] pibion commented on #53
Just here to confirm that I also get this error!

[2021-03-18 02:50] zonca commented on #54
you cannot change it, you need to go to your control panel https://supercdms.jetstream-cloud.org/hub/home
stop your server and start it again

[2021-03-18 02:50] #54 closed

[2021-03-18 04:03] zonca commented on #55
yes, sorry, I didn't realize that the medium instances that we are using now to save resources have only 6 CPUs and I was requesting 5 of them for the "Default" configuration.
This is the reason for this error.
Now I have setup the Default configuration to have only 2 CPU which are guaranteed, but the limit is 6 CPUs, so that if there is extra availability, your pod can use it.
So this should be f

[2021-03-18 04:05] zonca commented on #55
See the current configuration in:

https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/37a8d0acffa41a9b62016549973446abe96a5c2c/config_standard_storage.yaml#L30-L51

[2021-03-18 04:20] zonca commented on #53
no adding `ipympl` didn't help.

the exact error is: `jupyter-matplotlib needs to be included in build`

[2021-03-18 04:42] zonca commented on #53
ok, I think the problem is that I have a version of `ipympl` which is too old:

     ipympl                    0.5.6              pyh9f0ad1d_1    conda-forge

however, the conda version resolver cannot upgrade it due to other contraints

[2021-03-18 04:44] zonca commented on #53
ok, I found a fix, I need to also update `ipywidgets`, testing it soon

[2021-03-18 05:03] zonca commented on #53
ok, that fixed the issue, I have temporarily disabled latex to speedup my testing, tomorrow once the container is built by DockerHub I'll restore that and notify here.

[2021-03-19 16:07] zonca commented on #53
ok, I restored the container with Latex, this is completed.

[2021-03-19 16:07] #53 closed

[2021-03-19 20:59] pibion commented on #41
Sounds excellent to me :)

The email said that someone from ECSS would contact me to set up a time to meet for workplans, but would it be okay if I just reached out myself to set it up?

[2021-03-19 22:42] zonca commented on #41
Someone from ECSS should be me ...

[2021-03-25 17:46] #55 closed

[2021-03-25 18:06] zonca commented on #44
ok, I tested the `aws` command line client with OSN and works fine.

[2021-03-25 18:14] zonca commented on #44
I requested a free license for Stash so I can try it out

[2021-04-17 01:09] zonca commented on #44
still working on Stash, cannot get it to work. It seems those systems are very complicated and targeted at larger deployments.
I think I'll try another search looking specifically for something simpler.

[2021-04-20 00:19] zonca commented on #44
ok, at the end I got Stash to work.
It is quite nice, it only backs up the content of the user volumes encrypted to object store. It can be restored back to Kubernetes using the same service.

I wrote a tutorial about it:

https://zonca.dev/2021/04/jetstream-backup-kubernetes-volumes-object-store.html

Now I will test just leaving the daily backup service running just for my volume for a few days

[2021-04-20 01:22] pibion commented on #44
@zonca fantastic!  If we want to practice wiping a user volume and restoring, I can volunteer.

[2021-04-20 02:04] zonca commented on #44
I tested already on mine and worked fine. Next week if the daily backups on my volume I'd like to test on 4/5 users. Do you have some preference or should I just you and other 4 randomly just to prove it is working?

[2021-04-20 21:52] pibion commented on #44
Right now we only have four regular users, and none of these have work that isn't version controlled.  So go ahead and use all of us.

We'll be running some tutorials within our collaboration, so I'm expecting that a few more folks will be signing on.  There are a couple who stopped using the platform because they were afraid of data loss, so once this test is complete I can reach out to them and

[2021-04-23 16:33] zonca commented on #44
I have `pibion`, `ramirece` and `zkromer`

[2021-04-23 16:45] zonca commented on #44
ok, nightly backup of my volume worked fine.
Now I have 4 nightly backups, spaced 10 minutes:

[code]

Let's leave them running for a week, then do a restore test on the volume of  @pibion

[2021-04-26 23:23] zonca commented on #44
Most backups worked:

[code]

@zkromerUCD 's volume has a problem, probably due to an issue on Jetstream we haven't figured out yet:
https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/40#issuecomment-827202593

@zkromerUCD please do not use JupyterHub for a couple of days as we are debugging, then I'll setup a workaround script.

[2021-04-27 16:01] zonca commented on #44
ok @zkromerUCD, I setup the workaround script so your volume should be fine, please let me know if you have issues logging in.

[2021-05-10 19:22] zonca commented on #44
ok, backups are still running fine:

[code]

I think we can do a restore test on another volume instead of mine.

@pibion is it ok if I drop your volume then try to restore from backup?

[2021-05-10 21:29] zonca commented on #44
for long-term retention policy, I would do:

    keepLast: 6
    keepWeekly: 7
    keepMonthly: 12

so last 6 days, last 7 weeks and last 12 months. The backup automatically stores just 1 copy of a file, so multiple backups of the same files are just counted once (pretty nice!)

[2021-05-25 20:02] thathayhaykid opened #56 "White screen when opening XSEDE Resource"
Hi there!

I'm trying to access the XSEDE resource and I'm finding that all I get is a white screen, no matter what I do!

Is there something we can do to fix this?

Thank you!

-Haythem Mansour
![Screen Shot 2021-05-25 at 2 01 29 PM](https://user-images.githubusercontent.com/12423317/119560985-dbada600-bd61-11eb-9f16-ff608d6fb127.png)

[2021-05-25 20:11] zonca commented on #56
is that after you login or before? Do you have a adblocker you can disable?

[2021-05-25 20:12] zonca commented on #56
or do you have another browser you can try? It seems a browser issue

[2021-05-26 15:45] zonca commented on #44
still working on this:

* had an issue with a stuck volume, the Jetstream team fixed it
* having trouble configuring the retention policy, Stash was applying the retention policy across all backups, so it was saving 1 backup a week, instead of 1 backup *per user* a week. I think the problem was the task name, testing it for the next few days.

[2021-06-01 01:40] zonca commented on #56
No feedback, closing this, please reopen if needed

[2021-06-01 01:40] #56 closed

[2021-06-01 21:45] zonca commented on #27
in case we need to revisit this issue in the future, another option is to use `lifecyclehooks` in the zero to jupyterhub configuration.

See https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/246e5c684776b31f5c2db636af2fcd44e01fa670/config_standard_storage.yaml#L75-L86

[2021-06-01 22:47] zonca commented on #44
ok, I implemented a workaround, tested it and updated tutorial: https://github.com/zonca/zonca-blog/commit/0a7fe8100bca850e943124d81fb02d1cd8d9f24d

now let's have the machinery run for a few days and check again.

I also saw other users are logging in, so I am backing them up:

[code]

[2021-06-07 23:29] zonca commented on #44
ok, the system itself worked fine, but I have 2 volumes with issues in attaching/reattaching, `pibion` and `ramirece`, asked Jetstream for support.

[2021-06-26 19:23] zonca commented on #44
ok, it has been working reliably for a week, it seems ok.

Next I'll test again dropping a volume and restoring from backup.

[2021-07-04 08:49] #41 closed

[2021-07-07 18:35] zonca commented on #44
ok, testing the restore functionality

I have some files in my volume:

![image](https://user-images.githubusercontent.com/383090/124810194-540ea600-df61-11eb-81c5-53e452f44f55.png)

I added a new file not backed up to make sure I am really recovering from a backup.

I delete the whole kubernetes volume:

    persistentvolumeclaim "claim-zonca" deleted

I log out and back in, kubernetes creates fo

[2021-07-08 08:25] zonca commented on #44
## Restore (by the kubernetes admin)

backups are all stored together, so first need to tag the users (see the blog post above for more details):

. restic_tag_usernames.sh

so we now have backups tagged by username:

[code]

We can identify the ID of the backup we want to restore from, in our case `91277a2b`,
write that into `stash_restore.yaml`, and give it a unique name.

[code]

Here we go, th

[2021-07-08 08:25] #44 closed

[2021-07-08 08:30] zonca commented on #44
also updated the tutorial with the latest findings: https://zonca.dev/2021/04/jetstream-backup-kubernetes-volumes-object-store.html

[2021-08-25 23:51] zonca opened #57 "Quota issue on backup"
@pibion I am investingating errors in backing up the volumes.
I think it is a quota issue on OSN.

Here is the error I get if I try to upload manually a small file to the SuperCDMS OSN:

[code]

Can you please investigate?

The backups occupy about half a GB:

[code]

[2021-09-08 03:57] pibion commented on #57
@zonca apologies, this is totally a quota issue.  We just got approved for an increase in space and I thought it had "gone through" but clearly it hasn't.  I'll email the OSN folks and cc you so you know what the status is.

[2021-09-20 17:38] zonca commented on #57
ok, quota issue is solved, backups worked fine for a few days. Today there are networking issues at IU, so I'll check again in a couple of days. But this specific issue is solved.

[2021-09-20 17:38] #57 closed

[2021-09-30 16:43] zkromerUCD opened #58 "Jupyter Hub Server Not Starting"
When I try to start a Jupyter Hub server, the server does not start, and stays stuck with an empty loading bar.
The screen looks like this:

Your server is starting up.

You will be redirected automatically when it's ready for you.

(Empty Loading Bar)

Server requested

Additionally, when I check the Event log, the only event that shows up is Server requested.

Update: Eventually the starting of

[2021-09-30 17:07] zonca commented on #58
sorry @zkromerUCD it was me using all resources to deploy another service for CDMS, please try again now

[2021-09-30 18:40] zonca commented on #58
actually @zkromerUCD it was an issue with the volumes: https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/40

can you try again now?

[2021-09-30 21:33] zonca commented on #58
ok, it seems it is working, please reopen or open another one if it happens again.

[2021-09-30 21:33] #58 closed

[2021-11-11 17:54] thathayhaykid opened #59 "Unable to access XSEDE Resources"
Hi There!

I'm coming across an error trying to access the XSEDE Jupyter hub resource! I was trying to access the 'default' setting,
A colleague of mind is experiencing the same issue!

Amy tried out the Tiny setting and it worked for her!

Here's a screenshot with the error that's happening!

Please let me know if there's anything else I can provide you with to help!

Thanks.

-Haythem

![Mansour

[2021-11-12 16:12] zonca commented on #59
@thathayhaykid in order to save resources as usage was low, I had downsized to only 1 medium instance.
I deployed another service (@pibion it was ServiceX) that was consuming a lot of ram so you only could have 1 session running.
Now I terminated that service, I will launch it only during testing.

So, now I have reconfigured the options given the available RAM:

* with tiny you have 3 GB and you

[2021-11-12 16:12] #59 closed

[2022-01-27 17:23] zkromerUCD opened #60 "Spawn Failed: Timeout when trying to create a Default sized instance"
When trying to launch a default sized instance of jupyter hub, I get a timeout error. The event log is included below.

Event log
Server requested
2022-01-27T17:02:46.434473Z [Normal] Successfully assigned jhub/jupyter-zkromer to kubejetstream-k8s-node-nf-1
2022-01-27T17:03:37Z [Warning] AttachVolume.Attach failed for volume "pvc-53704015-6aff-43ee-b05c-5ef3bd90e954" : Volume "1ef72334-350a-4e4e-8

[2022-01-27 17:42] zkromerUCD commented on #60
It seems that any size instance of JupyterHub is not working. I have currently received timeout errors for bot the Tiny and the Default versions, and will check to see if the Full Node size works

[2022-01-27 17:55] zkromerUCD commented on #60
Got this error when booting up a Full Node, the "0/2 nodes are avalible" errors were because there were too many nodes running at the server at the time. When Amy closed one of the running nodes, the "0/2 nodes are avalible" errors resolved themselves

Server requested
2022-01-27T17:42:32.745703Z [Warning] 0/2 nodes are available: 1 Insufficient cpu, 1 Insufficient memory, 1 node(s) had taint {nod

[2022-01-27 22:59] pibion commented on #60
@zonca any thoughts on this?  I'm not sure what to make of the unmounted volumes?

[2022-01-27 23:11] zonca commented on #60
It's probably the usual issue with reserved volumes.
I will reply here once I have time to look into it.

On Thu, Jan 27, 2022, 14:59 pibion ***@***.***> wrote:

[2022-01-28 05:29] zonca commented on #60
ok @zkromerUCD, I fixed it, unfortunately it is an issue we have never been able to solve, so when it happens, I need to fix it via openstack.

/ref https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/40

[2022-01-28 05:29] #60 closed

[2022-02-02 22:40] pibion opened #61 "host a database on XSEDE and access from jupyter environment?"
We have a large database that has metadata for a large chunk of data and it's necessary for analysis.  Does XSEDE host databases?  And would it be possible to access that within our CDMS environment?

I've also reached out to the OSN to see if they have a service that would help here!

[2022-02-02 22:41] pibion commented on #61
Update: the OSN does not have a service that helps with this (although I have heard that they can run containers, so maybe with more effort it'd be possible).

[2022-02-03 00:34] zonca commented on #61
It would be quite straightforward and also flexible to deploy a container
inside kubernetes with a postgresql database.
However, let me first ask if Jetstream has already a hosted solution.

What are the requirements in terms of storage? Just order of magnitude.
Few GB, few hundreds of GB, or few TB?

Is there any other specific requirement on the database? Do you need
redundancy? High availabilit

[2022-02-03 00:35] zonca commented on #61
Also are you really running database operations like join queries? Or could
you store that data  into object store?

On Wed, Feb 2, 2022, 16:33 Andrea Zonca ***@***.***> wrote:

[2022-02-03 00:46] pibion commented on #61
The types of queries we run tend to be FOR VALUE IN RANGE(LOW, HI) RETURN TEMP1.  The structure of the database is a set of simple tables, each with many fields.  We tend to be querying only one of those tables at a time.  Does that sound like it would work in object store?

The storage requirement is order hundreds of GB.

We have backup elsewhere.  High availability and support for many connecti

[2022-02-03 00:58] zonca commented on #61
what about a columnar data format in object store? one of the more optimized is parquet, and you can access it directly with pandas. https://arrow.apache.org/docs/python/parquet.html

Or Zarr https://zarr.readthedocs.io/en/stable/, also easily read with `dask`.

Maybe it is worth doing a test with a typical dataset and compare performance with an existing database.
I think the main concern is if y

[2022-02-03 01:01] zonca commented on #61
if it is easier, you can give me a dump of 1 of those tables and 1 Python script with a typical data access pattern and what is the expected performance.
I can then test the columnar data formats.

[2022-02-03 02:16] pibion commented on #61
@zonca a columnar data format is an interesting idea!  @thathayhaykid is working on uploading a dump of the entire database to the OSN, would that work for access for you?  We could also do a dump just of the fridge data.  We have two tables that we use primarily.

It's possible we're in the "tiny piece of a huge file" but I suspect we could avoid this easily.  I'll see if I can bring the student

[2022-02-03 02:33] zonca commented on #61
Sure OSN works. Also a sample script is going to be necessary.
It just needs to access the data, It doesn't need to do the actual data processing.

[2022-02-03 02:43] pibion commented on #61
@zonca a script is no problem - it may take a week or two, though.  My group is just starting to look at this data.

The query is pretty simple, though, so I'm not worried this time estimate will slip too much.

[2022-02-03 19:01] pibion commented on #61
@sukeerthiD this conversation might be of interest!

[2022-03-03 23:54] pibion opened #62 "Redeploying to Jetstream 2 [was: Stuck on "your server is starting up"]"
Spawning a jupyter instance gets stuck in "your server is starting up" mode for more than several minutes and then fails.

[2022-03-03 23:57] rahmanole commented on #62
<img width="1225" alt="Screenshot 2022-03-03 at 17 53 53" src="https://user-images.githubusercontent.com/39332899/156673134-74e40014-90a4-462b-a2ff-d0b1a53378ff.png">

[2022-03-03 23:58] pibion commented on #62
I did check and there are no other instances running (we get a different error when there aren't enough resources, so this is probably a moot point).

[2022-03-04 06:12] zonca commented on #62
The cluster has been up for more than a year and it's really nice that kubernetes has a nice security feature 🤔 where the internal certificates expire after a year...
So I will need some time to figure out how to properly renew the certificates.
I will update here once I'm done.

[2022-03-05 17:56] zonca commented on #62
Certificate renewal failed, and by mistake a couple of months ago I overwrote the kubespray cluster management files on my machine, won't happen again, I will now use separate directory trees. So I need to redeploy. Then I can restore files from backup.

Before redeploying, I asked the Jetstream team if Jetstream 2 is available. If it is, I would prefer to redeploy directly there.

[2022-03-05 20:33] zonca commented on #62
@pibion Jetstream 2 is in early testing and they can let us in.
Jetstream 1 will be operational until summer, but they will soon encourage transition.

* Is it ok if I request the allocation to be transferred to Jetstream 2?
* I should be able to restore user volumes from OSN. What about the `data` volume, would you like me to back it up to OSN and then re-create on Jetstream 2? Or I'll just provi

[2022-03-07 14:31] pibion commented on #62
Yes, let's move to Jetstream 2!  If you could re-create the `data` volume on Jetstream 2 that would be ideal.

It's okay if that fails, though, we can re-populate if necessary.

[2022-03-09 20:44] pibion opened #63 "allocation expiration"
I got three "allocation will expire soon" notices (below).  I think what I need to do is re-submit an allocation request, @zonca does that sound correct?

  Project:    PHY210008
  Title:      Building a sustainable and accessible future for dark matter analysis
  System:     IU/TACC (Jetstream)
  Allocation: 400000.0
  Used:       29892
  Remaining:  370108
  End Date:   2022-03-31

  Project:

[2022-03-09 20:51] zonca commented on #63
We didn't use much so you can probably just request an extension

[2022-03-09 22:01] pibion commented on #63
@zonca that seems reasonable.  I can request a 6-month extension and the only information I need to provide is a comment.  It does look like I'll need to submit a renewal after that; I assume the renewal process follows the same schedule as the science allocations?

Here's what I'm thinking for a comment:

[2022-03-12 04:11] pibion commented on #63
Okay, it looks like the Jetstream folks asked for an extension while switching our allocation; our end-date is now June 30.  The XSEDE interface says @zonca has access to everything, let me know if you run into problems?

[2022-03-12 04:13] zonca commented on #63
Very good. I tried a couple of hours ago and I couldn't access, so I activated my own access in the portal. I'll try again tomorrow.

[2022-03-12 04:17] pibion commented on #63
@zonca it looks like I should plan on putting in a renewal request in the March 15 - April 15 window (https://portal.xsede.org/allocations/research#xracquarterly), does that look right to you?

[2022-03-12 04:45] zonca commented on #63
XSEDE is going to end at the end of August.
So I think you should ask directly to the Jetstream team via help@xsede.org how to proceed.

[2022-03-14 19:04] pibion commented on #63
@zonca I heard back from the help team and they suggest I submit a renewal request like normal.  They're anticipating that allocations will transfer over smoothly through the XSEDE -> ACCESS change.

[2022-03-16 20:41] pibion commented on #62
@zonca any success with the authentication on Jetstream 2?

[2022-03-16 20:43] zonca commented on #62
Yes! Will try deployment in the next days

[2022-03-17 01:40] pibion commented on #62
@zonca that's great news!  I had a student contact me today asking about our jetstream instance being down - he uses it often for code development.  I was unusually happy to get a complaint since it means people are using the system!

[2022-03-17 20:32] zonca commented on #62
ok, it's working on Jetstream 2.

I deployed it temporarily on https://supercdms.zonca.dev/, I'll move to the old url in the next days.

I haven't imported any backup yet.

* Can you please write here which user data should I import? the less the better, as I need to manually import each of them.
* I'll also start to import the data container, will let you know when is done.

[2022-03-17 20:34] zonca commented on #62
we also have a newer version of Jupyterhub (`JupyterHub 1.5.0 20220317202953`)

[2022-03-17 21:25] zonca commented on #62
ok, I started the transfer of all the data from the data volume, it will take a few hours.

[2022-03-17 21:39] zonca commented on #62
I think it is better if the users first login to the system, then who wants to have their old data restored, can write me and I can copy the data from the backup into their new volumes.

[2022-03-17 22:00] pibion commented on #62
Excellent, I'll have them ping you here if they'd like their backup restored!

[2022-03-17 22:02] zonca commented on #61
@pibion any update on this?

[2022-03-17 22:03] zkromerUCD commented on #62
@zonca Hi, Zonca - I would like my home directory restored - my username on jetstream is zkromer.

[2022-03-17 22:05] zonca commented on #62
sure @zkromerUCD , can you please first login to the system so the new volume is created?

[2022-03-17 22:06] zkromerUCD commented on #62
ok, I can do that

[2022-03-18 03:14] zonca commented on #62
completed, I transferred 318 GB, notice that the IP to access the data volume changed, see the repository

[2022-03-18 14:56] pibion commented on #62
@zonca great, I can see the expected files in /cvmfs.  There is some weirdness with `/cvmfs/data/CDMS/Soudan/DMC_V1-5_PhotoneutronSb/Raw/Raw`, not sure if that's an issue with the setup or with how we created the directories.

[2022-03-18 15:01] zonca commented on #62
not sure, I just copied everything with `scp -r` from one volume to the other

[2022-03-18 15:54] zonca opened #64 "Install the backup system to the Jetstream 2 deployment and restore user data"
Working on https://zonca.dev/2021/04/jetstream-backup-kubernetes-volumes-object-store.html, if eveything works as expected, I should then be able to automatically restore user data from OSN without the need to do it manually.

**Important**:
If any user wants their old data restored, please first login to https://supercdms.zonca.dev/ so your new volume is created, then mention your username replyi

[2022-03-18 15:57] zonca commented on #62
ok, I consider this completed, @pibion if there is any other issue please open a dedicated issue.

For restoring user data, let's use https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/issues/64 instead.

[2022-03-18 15:57] #62 closed

[2022-03-18 18:28] zonca commented on #64
unfortunately I noticed that backups of course stopped working on February 26, I was checking on them every month, but I should setup an automated way of monitoring them, sorry about that.

@zkromerUCD I have restored your data with the latest backup I had.

![image](https://user-images.githubusercontent.com/383090/159061998-c2fc3709-6c24-4c16-bb35-77b94517a3cf.png)

[2022-03-21 16:09] zonca commented on #62
@pibion @zkromerUCD we are back at the original URL: https://supercdms.jetstream-cloud.org/

[2022-03-24 00:40] zonca opened #65 "Increase size of worker node on Jetstream 2"
JupyterHub on Jetstream is down today @pibion

I saw Kubernetes complaining about "Disk pressure", I believe the problem is that the instance I have used for the worker node is too small.

So I am now transitioning from a quad to a medium, the master node is already medium so I will leave it as it is.

I'll update here.

[2022-03-24 00:42] zonca commented on #65
created the new instance with Terraform, launched ansible to prepare the node and add to the cluster

[2022-03-24 01:14] zonca commented on #65
Ok @pibion It is back online and it seems to be working.
Anyway, I'll just keep an eye on it.
I have a monitor that sends me an email if the service goes down.

[2022-03-24 01:15] #65 closed

[2022-03-28 18:58] pibion commented on #61
@zonca SLAC was able to get some of the tables accessible on their system.  @thathayhaykid is working on getting the full database from FNAL (this takes a while because we need someone at FNAL to run the command).

If this can be accessed at SLAC we may not need it web-accessible - I think it makes sense to wait and see.  Should I close this issue and re-open if it turns out we do need it?

[2022-03-28 19:01] zonca commented on #61
Better just wait and leave this open for tracking purposes.

[2022-03-30 20:30] pibion commented on #63
@zonca I'm starting on the renewal application at https://www.overleaf.com/read/vvtbxsgxjtfs (view-only link).  I sent an invitation to the document to you, let me know if it doesn't come through?

[2022-03-31 16:50] tjamartin opened #66 "Write permissions on XSEDE"
Hi there,
I recently started to use XSEDE on the new Jetstream 2 version, however, I do not have write permissions for the /cvmfs/data directory. @pibion suggested I add an issue to get this resolved. Is it possible to global write permissions on /cvmfs/data?

[2022-03-31 16:54] zonca commented on #66
ok, try again now.

[2022-03-31 17:01] tjamartin commented on #66
It still doesn't seem to be working for me yet

[2022-03-31 17:06] zonca commented on #66
my bad, try again

[2022-03-31 23:37] #66 closed

[2022-04-14 16:53] pibion commented on #63
@zonca I'm working on the renewal request and am wondering if our issues with slow spawning (?) due to Kubernetes have been resolved.  Things have been faster but maybe it's just that there's so much RAM?

[2022-04-14 16:58] zonca commented on #63
I think the delays in spawning were mostly due to volume attaching that was slow, it is possible that on jetstream 2 is much faster, but I haven't tested in detail.
The most important thing is that the infamous issue 40 doesn't affect Jetstream 2 https://github.com/zonca/jupyterhub-deploy-kubernetes-jetstream/issues/40, I am keeping an eye on the deployment and it hasn't happened yet.

[2022-04-14 19:27] pibion commented on #63
@zonca great.  I've updated the progress report on the Overleaf renewal project.  One thing I needed to report on was underutilization - the XSEDE dashboard reports 10% usage.  I know the dashboard isn't accurate for Jetstream but it was quite a pain to get the actual usage (I wasn't able to do it, someone from TACC had to help).

So I'm assuming this is reasonably accurate for now.

Assuming this

[2022-04-14 19:34] zonca commented on #63
Yes I think a smaller allocation is fine. Maybe even 50%.
We can probably ask for a supplement if we need to.

[2022-04-14 20:49] pibion commented on #63
@zonca great, I've updated the progress report.  Please feel free to edit if you'd like.  In particular, is there any new documentation you would recommend I link to?

[2022-04-14 20:54] zonca commented on #63
the redeployment to Jetstream 2 tutorials are relevant:

https://zonca.dev/2022/03/kubernetes-jetstream2-kubespray.html
https://zonca.dev/2022/03/jetstream2-jupyterhub.html

possibly dask gateway: https://zonca.dev/2022/04/dask-gateway-jupyterhub.html

maybe dask/object store: https://zonca.dev/2022/04/zarr-jetstream2.html

[2022-04-15 14:26] pibion commented on #63
@zonca great, I've added these to the documentation list (not the object store though since I don't talk about that elsewhere) and reduced the allocation request to 200k SUs.

The entire application is ready for review, I'm planning on submitting before 1:30 PM Eastern (taking my gran shopping then and it takes a while).

[2022-04-15 15:54] pibion commented on #63
@zonca interesting things about the application:

1. No more "ECSS" option.  I've requested SGCI, maybe they intend support to flow through them?
2. Jetstream2 GPUs have to be requested separately from Jetstream2 CPU.  In retrospect that makes sense!  A GPU node would be nice.

[2022-04-15 16:49] zonca commented on #63
@pibion yes, ECSS is over at the end of August, good idea to request SGCI, but I don't know exactly how it will work.

VM names and sizes are a bit different for JS2: https://docs.jetstream-cloud.org/general/vmsizes/

[2022-04-15 16:53] zonca commented on #63
I've run my consumption calculator:

[code]

[2022-04-15 16:54] zonca commented on #63
@pibion you can also run it yourself, I put it in Colab: https://colab.research.google.com/drive/1wF4nyHTdfY1zpXzmFz_yQzdqYFBloEHQ?usp=sharing

[2022-04-15 17:28] pibion commented on #63
@zonca got it, I think I've updated everything.  I'm asking for 250k SUs on Jetstream2 CPU and 100k SUs on Jetstream2 GPU.

[2022-04-15 17:46] pibion commented on #63
@zonca okay we're submitted!  I added a request for Jetstream2 GPU and consolidated the ECSS and SGCI sections into one SGCI section.

[2022-04-19 19:29] pibion opened #67 "support G124 barium analysis"
@MusaabFaozi is working on a G124 barium analysis and they are interested in trying this analysis on the XSEDE-hosted Jupyter system.  I think this might be a nice use-case because he's processing raw data and the Dask server might be helpful!

He would need access to G124 data - we'd need someone on the CDMS side to work on copying this data to the OSN so it's accessible.  I'll work on identifyin

[2022-04-19 19:55] zonca commented on #67
## JupyterHub profiles

Here is the current configuration, that I haven't yet updated for Jetstream 2:

https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/9b095af2b38d24011c3e0e85ef9cfb790c144620/config_standard_storage.yaml#L37-L51

I am currently using "m3.medium" instances for the worker nodes, they have 30 GB of RAM, so assuming we can use 25 GB, I think we can do:

* tiny,

[2022-04-19 19:57] pibion commented on #67
@zonca I think 25 GB RAM is a great place to start.

[2022-04-19 20:05] zonca commented on #67
ok, it is deployed, as usual please open an issue with the error log if anything is broken.

Let's keep this issue open to track the barium analysis work.

[2022-04-20 18:15] zonca commented on #64
ok, thanks @pibion, I fixed all the permission issues I had, it was just a misconfiguration on my end.

Now everything seems to be working fine, I am backing up:

[code]

Will monitor for a few days, then think about a way of automatically be notified if anything fails.

[2022-04-21 22:59] pibion opened #68 "open a jupyter notebook from the terminal?"
Some users try to open jupyter notebooks from the terminal, by typing e.g.

[code]

Is this something that would be easy to support?

[2022-04-22 00:20] zonca commented on #68
Not currently
See https://github.com/jupyterlab/jupyterlab/issues/5056
And the linked PR

[2022-04-22 00:20] #68 closed

[2022-04-27 23:47] zonca commented on #64
ok, backups have been working fine:

[code]

[2022-04-27 23:48] zonca commented on #64
I have now setup a monitoring system, I'll monitor the monitoring system for a couple of days to see if it really works.
Then I plan to stop the backups for a day to verify I am alerted about it.

[2022-04-27 23:52] zonca commented on #64
Tutorial on how I set it up: https://zonca.dev/2022/04/monitor-restic-backups-kubernetes.html

[2022-04-28 22:27] pibion opened #69 "insufficient cpu error"
@zonca, @rahmanole is trying to spin up a full node but is getting the following error:

[code]

Nobody else is using an instance right now.

[2022-04-28 22:29] pibion opened #70 "Descriptive screen to help people report issues more easily"
@zonca when people have trouble with instances spinning up, it would be great if they could also get instructions for filing an issue here.  Is it possible to customize the screen that people see when their instance is starting?

[2022-04-28 22:35] pibion commented on #69
More info: requesting a "default" instance reported the same error.  This may be because another student logged on.

[2022-04-28 22:36] pibion commented on #69
When @rahmanole tries to spawn a "tiny" instance while the other student is running a "default" he gets the same error.

[2022-04-28 22:43] pibion commented on #69
And another error:

[code]

[2022-04-28 23:11] zonca commented on #69
If you enter with your account, you can check out in the admin panel if
there are leftover instances running.

On Thu, Apr 28, 2022, 15:44 pibion ***@***.***> wrote:

[2022-04-28 23:11] zonca commented on #69
I must have configured improperly the limits

On Thu, Apr 28, 2022, 16:10 Andrea Zonca ***@***.***> wrote:

[2022-04-28 23:16] pibion commented on #69
@zonca one server is running, when @rahmanole first tried to spawn there were no servers running.

[2022-04-29 05:40] zonca commented on #69
@pibion I had several leftover pods from my tests on monitoring the backups and from the backup system itself, see #64
I tested now and both 1 full node and (1 default + 1 tiny) work fine.

So I'll check again tomorrow and try to understand why those completed pods still occupy CPU slots.

Anyway, do you plan more usage, would you like to have another node deployed?

With the new kubernetes versio

[2022-04-29 05:52] zonca commented on #70
I was pleasantly surprised to find out that indeed we can using https://zero-to-jupyterhub.readthedocs.io/en/latest/resources/reference.html#hub-templatevars

I deployed it

[2022-04-29 05:54] zonca commented on #70
if you would like to customize it further, you can edit:

https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/master/config_standard_storage.yaml#L2

There are also other injection points for this type of messages:

`announcement_login, announcement_spawn, announcement_home, and announcement_logout`

[2022-04-29 17:37] pibion commented on #70
@zonca I see your banner, I think this is perfect!  Right now I don't see any additional customization needed, so unless you think it would be helpful I think we can close this issue.

[2022-04-29 17:39] pibion commented on #69
I don't think we need to deploy another node, it's very rare that two people are working at the same time and when they are we have always been fine with 1 default + 1 tiny.

It would be awesome to have the autoscaling managed, though, was there something we were waiting on with Magnum?

[2022-04-29 18:51] zonca commented on #69
ok, currently it seems everything is working fine.
We can even have 2 default sessions running together:

[code]

Let's keep the issue open and monitor for 1 or 2 weeks.

[2022-04-30 15:30] zonca commented on #64
Okay, I have got a notification that the system of back up was down.
I activated it again.

[2022-04-30 15:30] #64 closed

[2022-05-06 14:10] pibion commented on #70
I worked through a logon with a new student, and I think we need to add the same banner with

`announcement_login, announcement_spawn, announcement_home`

Can I just add these into the JSON on line 2 of the the file linked above?

[2022-05-06 14:42] zonca commented on #70
Correct, there is also `announcement`, which is a quick way to set all of them at once

[2022-05-06 16:47] pibion opened #72 "auto-scaling"
I had an interesting discussion with the Flux (http://flux-framework.org/) team about autoscaling jupyter instances.  They're using Flux to manage Kubernetes for this and they were open to talking with us about what they're doing.

They did warn that this application of flux is very new, so this might not be worth investigating.

This issue is to record this piece of information!

[2022-05-06 17:02] zonca commented on #70
@pibion #71 is deployed,
I wonder if it would be more useful to redirect people to a help page with more information, like:

https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream#instructions-for-new-users

Maybe update the page first

[2022-05-09 18:37] pibion opened #73 "hosting for GitLab CI for CDMS software"
@zonca we're discussing setting up CI/CD for some CDMS software and wondering

1. if supporting CI/CD is within the scope of this allocation (I'm uncertain)
2. if we could host a container image on XSEDE/OSN - one of our issues is that the container takes a long time to build and we can't afford those minutes on the GitLab free tier
3. if GitLab might offer container hosting that's appropriate, an

[2022-05-09 20:42] zonca opened #74 "Backup failing for rahmanole"
@rahmanole it seems like your backups are failing,

the error is:

[code]

* is there a reason why you are storing python files inside the `.ssh` folder? that is usually meant just for ssh certificates
* can you check if that file has any strange permission or is broken in some other way?

[2022-05-10 16:28] #69 closed

[2022-05-10 19:33] pibion commented on #74
@rahmonole the `.ssh` folder is not the place to have most of your data - let me know if you want some help moving into your home directory?

[2022-05-26 17:04] pibion commented on #61
@zonca we are again seeing a need for this information on jetstream.  It would be ideal to keep it as a database because then we could use the scripts that get the information without modification.

But if you think that hosting it as a file would be significantly easier, we can do that - the operations aren't super complex and I think it's better to have the data available and have to re-write sc

[2022-05-26 17:57] zonca commented on #61
what database software do you have at SLAC? how are the scripts written (language, framework if any)?

[2022-05-26 20:34] zonca commented on #61
ok, good, if you are going through sqlalchemy changing backend database should not be a problem.

so we could install PostgreSQL inside Kubernetes with a volume attached on Jetstream 2.

Then you can dump the content of Oracle either with https://ora2pg.darold.net/start.html or via sqlalchemy, or any other way the Oracle admins recommend to a SQL file I can then import into PostgreSQL.

[2022-05-27 15:05] pibion commented on #61
We should be able to get a dumpfile of the first X entries in each table.  This will take me a little while, I'm currently trying to get access to the system with the database.  :/

[2022-05-31 15:44] zonca commented on #74
it looks like there were 2 Traces_GAN folders, one in home and one in `.ssh`.

I moved the one in `.ssh` to `~/dot_ssh_Traces_GAN`.

I'll check tomorrow if backup worked.

[2022-05-31 16:28] pibion commented on #74
Awesome, thank you.  I'll be working with him this week on getting his .ssh directory cleared out.

[2022-06-02 04:31] zonca commented on #74
ok, backups are now working

[2022-06-02 04:31] #74 closed

[2022-06-02 23:30] pibion commented on #61
Success!  See file at https://drive.google.com/file/d/1M1ngnhk-I-PtkfcXPF50IxmHiqBL9Cx9/view?usp=sharing.

[2022-06-03 01:24] zonca commented on #61
it seems this is a dump from MariaDB and not Oracle. Should I use a MariaDB
container then?

On Thu, Jun 2, 2022 at 4:30 PM pibion ***@***.***> wrote:

[2022-06-03 14:22] pibion commented on #61
@zonca probably, but maybe wait a bit for confirmation?  I'm checking with our database-adjacent folks to make sure MariaDB is what's expected here.

[2022-06-03 15:36] pibion commented on #61
@zonca update: the original database is MySQL and we're not yet sure what was used to host it at SLAC (which was where I made the current dumpfile).  How do you feel about trying a MariaDB container?

[2022-06-04 17:30] #70 closed

[2022-06-06 17:54] zonca opened #75 "Activate backup for new users"
I need to manually setup backup when we get new users on the system.

I set it up for:

[code]

Checking tomorrow that backup worked fine. 1 issue is that 2 users have a dot in their username (encoded as `-2e`), check that it doesn't cause issues.

[2022-06-06 20:00] pibion opened #77 "slow behavior in terminal"
@zonca today (June 6) at 4 PM Eastern, a student was experiencing what looked like a slow response from the server.  When she typed in the terminal, it took several seconds for the letter to appear.

I've seen this behavior before, although it has been rare.  Is there a way we could "watch" for this?

Can activities on other instances affect speed?  While she's seeing a slow response, I'm separate

[2022-06-06 20:40] zonca commented on #77
it would be useful to know in real-time and go check at the status of the servers. So next time it happens notify here and I will check if I find it happening.

Sure, activities on other instances can affect, they are all running on the same virtual machine.

[2022-06-06 22:33] zonca opened #78 "Updated user Docker image"
@pibion I needed to add MariaDB client to the Docker images the users are running, #61
so I also updated all the Conda packages, it doesn't affect users running from CVMFS Kernels much, except JupyterLab is now fancier!

Anyway please report here any issue related to that.

[2022-06-06 22:33] zonca commented on #78
I can rollback easily to previous image if needed.

[2022-06-06 23:17] zonca commented on #61
ok,
it is deployed on Jetstream, I've imported the dump, usual notes:

https://zonca.dev/2022/06/mariadb-jetstream2-kubernetes.html

I can connect via `sqlalchemy` and I see the data, I put the notebook in the "secrets" repo because it has the password in clear:

https://github.com/pibion/jupyterhub-deploy-kubernetes-jetstream-secrets/blob/master/mariadb/access_mariadb.ipynb

Anyway it is not acce

[2022-06-06 23:40] pibion commented on #61
@zonca fantastic, I'll be able to test it on Thursday morning.  The full database is large (80 GB at least?) and its dumpfile is already on the OSN.

[2022-06-06 23:41] pibion commented on #77
@zonca okay great, I've let frequent users know to report here.

[2022-06-06 23:42] pibion commented on #78
@zonca I don't anticipate any issues, but will report if any arise!  I always enjoy a fancier JupyterLab :)

[2022-06-06 23:50] zonca commented on #61
Can you please copy it to the data folder on Jetstream2?

[2022-06-06 23:51] zonca commented on #61
Also how big should I get the volume for? The data is 100 GB enough or it's going to grow more?

[2022-06-06 23:56] pibion commented on #61
@zonca yes, I'll copy it to the data folder on Jetstream2.

The data won't grow - it's from an experiment that's been decommissioned (but the data is still being analyzed).  But I'm not sure how large the unpacked file will be.  So maybe 200 GB?

[2022-06-07 00:02] pibion commented on #61
@zonca it would be easier to copy the file from the OSN if we have `rclone` available.  I can't seem to find the appropriate Dockerfile (?) to edit, could you point me to it?

[2022-06-07 00:04] zonca commented on #61
See https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/blob/master/DEPLOY.md#jupyter-notebook-single-user-image

Consider that there is no more automatic building of the thing, so I will have to build it manually on my machine, push it and then update the deployment.

Anyway, that's the same thing I just did to install the MariaDB drivers.

[2022-06-07 19:24] zonca commented on #75
ID        Time                 Host        Tags               Paths
-------------------------------------------------------------------------
0962002b  2022-06-06 01:50:15  host-0      rahmanole          /stash-data
110cc7c3  2022-06-07 01:00:18  host-0      pibion             /stash-data
b9bb49d9  2022-06-07 01:10:13  host-0      thathayhaykid      /stash-data
f4e544dc  2022-06-07 01:20:12  host-

[2022-06-07 19:24] #75 closed

[2022-06-16 18:42] zonca commented on #63
very good, it is also useful if we have low usage to explain why. Generally for us is just that we had less concurrent users than expected.

[2022-06-16 23:13] pibion commented on #61
@zonca I think the dumpfile is too large for the remaining space on our data volume!  I tried

[code]

but got the error

[code]

[2022-06-17 05:06] zonca commented on #61
how big is it?

On Thu, Jun 16, 2022 at 4:13 PM pibion ***@***.***> wrote:

[2022-06-17 14:41] pibion commented on #61
@zonca just over 115 GB.

[2022-06-18 19:13] zonca commented on #61
ok, it is a bit convoluted, I created a volume 150 GB in kubernetes, mounted it in a Python container where I installed the AWS client, now I am downloading the dump.
Next I'll mount that volume to a MariaDB client container and try loading the dump into the DB.

[2022-06-19 01:21] zonca commented on #61
@pibion ok, it worked fine, I see 142 million rows in one of the tables, see my test with details on how to connect:

https://github.com/pibion/jupyterhub-deploy-kubernetes-jetstream-secrets/blob/master/mariadb/access_mariadb.ipynb

I'll keep the volume with the dump around in case we need to restore.

[2022-06-28 22:46] zonca commented on #61
@pibion can you access the db?

[2022-06-30 16:44] zkromerUCD commented on #61
@zonca I was able to run the Jupyter notebook and access the database; the results from my running it look the same as yours.

[2022-06-30 16:48] zonca commented on #61
Very good. I will close this issue. If you have any problem or you need some other feature please open a separate issue

[2022-06-30 16:48] #61 closed

[2022-07-03 13:58] zonca commented on #78
seems fine

[2022-07-03 13:58] #78 closed

[2022-07-07 19:50] pibion opened #79 "user can't delete files in .ssh directory"
@pandeylekhraj ran into an interesting permissions issue in the `.ssh` directory.

A command to remove an unneeded folder failed with a "permission denied" error: `rm -rf ~/.ssh/tutorials`.

Meanwhile, `mv ~/.ssh/tutorials .` worked fine!

Not sure if this is expected, wanted to report in case it's not.

[2022-07-08 07:36] zonca commented on #79
really strange. I don't think it is worth investigating, so I'll close the issue.
Anyway, it is good to have it tracked in the issues for reference in case some other permission issue comes up later on.

[2022-07-08 07:36] #79 closed

[2022-07-29 00:05] pibion opened #80 "Making an environment for a tf_slim project"
We're interested in working on the code in the repository https://github.com/jsyoon0823/TimeGAN.git but are having trouble building the python environment on Jetstream.  The steps I've taken are

[code]

And it seems like it's failing on `wheel` installation.

The ultimate goal is to build the environment and then create a jupyter kernel, we're trying to find a simpler example to see if we can do

[2022-07-29 00:10] pibion commented on #80
The odd thing is that I can build the environment successfully when working on my local WSL environment.  The versions are a little different,

Jetstream python is 3.8.3 and my local version is 3.8.10.

But the big difference is at python 3.7 and both are beyond that.

[2022-07-29 00:33] pibion opened #81 "making a kernel in JupyterLab"
I'm trying to turn a python environment into a jupyter kernel (see https://github.com/det-lab/jupyterhub-deploy-kubernetes-jetstream/issues/80).

Following and sometimes modifying suggestions at https://janakiev.com/blog/jupyter-virtual-envs/, I tried the following commands:

[code]

The install commands seemed to work - I could see ipykernel and requests stuff in `AMY/lib/python3.8/site-packages/

[2022-07-29 04:23] zonca commented on #80
Can you paste the error?

[2022-07-29 04:26] zonca commented on #81
Maybe --user needs to be after install?

Please double check in the official docs: https://ipython.readthedocs.io/en/stable/install/kernel_install.html

[2022-07-29 04:28] zonca commented on #80
Before running any command, please check that the path is correct.

which python
which pip

Also be careful about python vs python3, pip vs pip3.

[2022-08-11 17:10] zkromerUCD opened #82 "Unable to access jupyter lab website"
When trying to access jetstream via http://supercdms.jetstream-cloud.org/, the page loads for a long time, and then the error "supercdms.jetstream-cloud.org took too long to respond." appears in the browser. The browser that I am using is google chrome - Amy also was unable access the webpage and received the same error.

[2022-08-11 19:15] zonca commented on #82
ok, looking into that, not sure yet what is going on, I see the Virtual Machines running but I cannot access them.

[2022-08-11 19:26] zonca commented on #82
I rebooted the instances and now I can access them, but all pods are throwing errors

[2022-08-11 19:43] zonca commented on #82
I have volumes stuck in "detaching" state:

[code]

[2022-08-11 19:58] zonca commented on #82
I asked for support, I cannot fix it myself, I'll keep this updated.
JS2 is in early operations, so it is normal there are some hiccups.

[2022-08-11 20:58] zonca commented on #82
@zkromerUCD ok, JupyterHub is back online.
The isssue on the volumes was due to an outage Jetstream had over the weekend, they were able to clear the errors on the volumes.

[2022-08-16 04:15] zonca commented on #82
ok, also the database and the backup system are working properly

[2022-08-16 04:15] #82 closed

[2022-08-16 04:21] zonca commented on #81
## Create env

[code]

## Install kernel

python -m ipykernel install --user --name=AMY

## Force reload JupyterLab in the browser

![image](https://user-images.githubusercontent.com/383090/184797055-1fe1b606-66cc-4698-bfa9-4c35013ce3a4.png)

It works fine, it was just the wrong position of `--user`, for example:

    python -m ipykernel --user install

launches ipykernel instead of installing it

[2022-08-16 04:21] #81 closed

[2022-08-16 04:34] zonca commented on #80
it is a complicated environment, I would try with conda.

I am testing this, it is taking forever, it says there are conflicts:

    conda create --prefix condatgan -y -c conda-forge --file=TimeGAN/requirements.txt python==3.9

[2022-08-16 04:42] zonca commented on #80
it fails with a CUDA driver error:

    Your installed CUDA driver is: not available

not sure why we cannot have a CPU only version.